<%= simple_form_for( @profile ) do |f| %>
    <%= f.error_notification %>

    <header class="jumbotron subhead" id="overview">
        <%= f.input :name %>
        <%= f.input :description, input_html: { rows: 5, cols: 100 } %>
    </header>

    <section id="spider">
        <fieldset>
            <legend id="spider-h">
                Spider
                <small>How the scanner will crawl the web application</small>
            </legend>
            <div class="row">
                <div class="span12">

                    <label for="profile_redundant_pattern">Redundant rules</label>
                    <table>
                        <tr>
                            <th>Process paths matching this pattern</th>
                            <th>This amount of times</th>
                        </tr>
                        <tr>
                            <td id="profile_redundant_pattern">
                                <input class="string optional"
                                       type="text" name="profile[redundant][pattern]">
                            </td>

                            <td>
                                <input id="profile_redundant_counter"
                                       class="integer optional"
                                       type="number" step="1" size='2'
                                       name="profile[redundant][counter]" >
                            </td>
                        </tr>
                        <tr>
                            <td colspan='2'>
                                <div id="redundant_add" class='btn'>
                                    Add another one
                                </div>
                            </td>
                        </tr>
                    </table>

                    <%= messages_for :redundant %>
                </div>

                <hr>

                <div class="span6">
                    <%= f.input :depth_limit, hint: messages_for( :depth_limit )%>
                </div>
                <div class="span6">
                    <%= f.input :link_count_limit, hint: messages_for( :link_count_limit ) %>
                </div>
                <div class="span6">
                    <%= f.input :redirect_limit, hint: messages_for( :redirect_limit ) %>
                </div>
                <div class="span6">
                    <%= f.input :follow_subdomains, hint: messages_for( :follow_subdomains ) %>
                </div>
                <div class="span6">
                    <%= f.input :exclude_binaries, hint: messages_for( :exclude_binaries ) %>
                </div>
                <div class="span6">
                    <%= f.input :auto_redundant, hint: messages_for( :auto_redundant ) %>
                </div>

                <div class="span12">
                    <label for="exclude_0">Exclusion patterns</label>
                    <% @profile.exclude.each_with_index do |pattern, i| %>
                        <p>
                            <%= text_field 'exclude', i, name: 'profile[exclude][]', value: pattern %>
                        </p>
                    <% end %>

                    <div id="include_add" class='btn'>
                        Add another one
                    </div>

                    <%= messages_for :exclude %>
                </div>
                <div class="span12">
                    <label for="include_0">Inclusion patterns</label>
                    <% @profile.include.each_with_index do |pattern, i| %>
                        <p>
                            <%= text_field 'include', i, name: 'profile[include][]', value: pattern %>
                        </p>
                    <% end %>

                    <div id="include_add" class='btn'>
                        Add another one
                    </div>
                    <%= messages_for :include %>
                </div>

                <div class="span6">
                    <%= f.input :restrict_paths, input_html: { value: @profile.restrict_paths.join( "\n" ) },
                                hint: messages_for( :restrict_paths ) %>
                </div>
                <div class="span6">
                    <%= f.input :extend_paths, input_html: { value: @profile.restrict_paths.join( "\n" ) },
                                hint: messages_for( :extend_paths ) %>
                </div>
            </div>
        </fieldset>
    </section>

    <section id="http">
        <fieldset>
            <legend id="http-h">
                HTTP
                <small>How the scanner will communicate with the web application</small>
            </legend>

            <div class="row">
                <div class="span6">
                        <%= f.input :http_req_limit, hint: messages_for( :http_req_limit ) %>
                </div>
                <div class="span6">
                        <%= f.input :proxy_host, hint: messages_for( :proxy_host ) %>
                </div>
                <div class="span6">
                        <%= f.input :proxy_port, hint: messages_for( :proxy_port ) %>
                </div>
                <div class="span6">
                        <%= f.input :proxy_username, hint: messages_for( :proxy_username ) %>
                </div>
                <div class="span6">
                        <%= f.input :proxy_password, hint: messages_for( :proxy_password ) %>
                </div>
                <div class="span6">
                        <%= f.input :proxy_type, hint: messages_for( :proxy_type ) %>
                </div>
                <div class="span6">
                        <%= f.input :cookies, hint: messages_for( :cookies ) %>
                </div>
                <div class="span6">
                        <%= f.input :user_agent, hint: messages_for( :user_agent ) %>
                </div>
                <div class="span6">
                        <%= f.input :custom_headers, hint: messages_for( :custom_headers ) %>
                </div>
            </div>
        </fieldset>
    </section>

    <section id="auditor">
        <fieldset>
            <legend id="auditor-h">
                Auditor
                <small>How the scanner will audit the web application</small>
            </legend>

            <div class="row">
                <div class="span6">
                        <%= f.input :audit_forms, hint: messages_for( :audit_forms ) %>
                </div>
                <div class="span6">
                        <%= f.input :audit_cookies, hint: messages_for( :audit_cookies ) %>
                </div>
                <div class="span6">
                        <%= f.input :audit_headers, hint: messages_for( :audit_headers ) %>
                </div>
                <div class="span6">
                        <%= f.input :audit_links, hint: messages_for( :audit_links ) %>
                </div>
                <div class="span6">
                        <%= f.input :exclude_cookies, hint: messages_for( :exclude_cookies ) %>
                </div>
                <div class="span6">
                        <%= f.input :exclude_vectors, hint: messages_for( :exclude_vectors ) %>
                </div>
                <div class="span6">
                        <%= f.input :fuzz_methods, hint: messages_for( :fuzz_methods ) %>
                </div>
                <div class="span6">
                        <%= f.input :audit_cookies_extensively, hint: messages_for( :audit_cookies_extensively ) %>
                </div>
            </div>
        </fieldset>
    </section>

    <section id="modules">
        <fieldset>
            <legend id="modules-h">
                Modules
                <small>The security checks to be run again the web application</small>
            </legend>

            <h3>
                Audit (Active)
                <small>These checks will actively engage the web application via its inputs (links, forms, etc.)</small>
            </h3>

            <h3>
                Recon (Passive)
                <small>These checks will passively collect data</small>
            </h3>

        </fieldset>

    </section>

    <section id="plugins">
        <fieldset>
            <legend id="plugins-h">
                Plugins
                <small>Assisting components to be enabled during the process</small>
            </legend>

        </fieldset>
    </section>

    <section id="login">
        <fieldset>
            <legend id="login-h">
                Login checks
                <small>How the scanner will determine its session's validity</small>
            </legend>

            <div class="row">
                <div class="span12">
                    <%= f.input :login_check_url, hint: messages_for( :login_check_url ) %>
                </div>
                <div class="span12">
                    <%= f.input :login_check_pattern, hint: messages_for( :login_check_pattern ) %>
                </div>
            </div>
        </fieldset>
    </section>


    <div class="form-actions">
        <%= f.button :submit %>
    </div>
<% end %>
