<% disabled = false if local_assigns[:disabled].nil? %>

<div class="plugin-options">
    <% info[:options].each do |option| %>

        <p class="alert alert-info">
            <label for="profile[plugins][<%= shortname %>][<%= option.name %>]" >
                <% description = (option.desc.ends_with?( '.' ) ? option.desc[0...-1] : option.desc)  %>
                <% if option.required? %>
                    <abbr title="required">*</abbr>
                <%end%>

                <%= description %> (<strong><em><%= option.name %></em></strong>):
            </label>

            <% required = option.required? ? 'required' : 'optional' %>

            <input id="profile[plugins][<%= shortname %>][<%= option.name %>]"
                name="profile[plugins][<%= shortname %>][<%= option.name %>]"

                   <%= 'disabled' if disabled %>

                   <% if option.type == 'path' %>
                   disabled="disabled" type="file"
                   <% elsif option.type == 'bool' %>
                   type="checkbox" class='boolean <%= required %>'

                   <% if val = options[option.name] %>
                       <%= val ? 'checked="checked"' : '' %>
                   <% elsif option.default %>
                       checked="checked"
                   <%end%>

                   <% else %>

                    <% if option.type == 'integer' || option.type == 'port' %>
                        class="numeric integer <%= required %>"
                        type='number'
                    <% else %>
                        class="string <%= required %>"
                        type='text'
                    <%end%>

                    <% if val = (options[option.name] || option.default) %>
                    value="<%= val %>"
                    <%end%>
                   <%end%>
              >
        </p>
    <%end%>
</div>
