<table class="table table-striped table-condensed">
    <% profiles.each do |profile| %>
        <tr>
            <th><%= profile.name %></th>
            <td>
                <em>
                    <% if profile.default? %>
                        Default
                    <% else %>
                        <% if can? :edit, Profile %>
                            <%= link_to 'Make default', make_default_profile_path( profile ),
                                        class: 'make-default', method: :put, remote: true
                            %>
                            <% end %>
                        <% end %>
                </em>
            </td>
            <td>
                <% if can? :read, Profile %>
                    <%= link_to profile, title: 'Show', class: 'btn btn-info' do %>
                        <i class="icon-eye-open"></i>
                    <% end %>
                <% end %>

                <% if can? :edit, Profile %>
                    <%= link_to edit_profile_path( profile ), title: 'Edit', class: 'btn btn-warning' do %>
                        <i class="icon-pencil"></i>
                    <% end %>
                <% end %>

                <% if can? :create, Profile %>
                    <%= link_to new_profile_path + '/' + profile.id.to_s,
                                title: "Create a new profile based on '#{profile.name}'",
                                method: :post,
                                class: 'btn btn-primary' do %>
                        <i class="icon-plus"></i>
                    <% end %>
                <% end %>

                <% if can?( :delete, Profile ) && !profile.default? %>
                    <%= link_to profile, title: 'Delete', method: :delete, class: 'btn btn-danger',
                                data: { confirm: 'Are you sure?' } do %>
                        <i class="icon-trash"></i>
                    <% end %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td class="description" colspan='3'>
                <blockquote><%= profile.html_description_excerpt %></blockquote>
            </td>
        </tr>
    <% end %>
</table>
