<%
   params[:tab] ||= 'yours'
   active_tab     = params[:tab]
   opts           = params
%>

<ul class="nav nav-tabs" id="profile-table-tab"
    data-table-container="table-container">

    <% if @counts['yours'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-user"></i>
                Yours <small>[<%= @counts['yours'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'yours' %>
        class="active"
        <% end %>
        >

            <%= link_to profiles_path( opts.merge( 'tab' => 'yours' ) ),
                        onclick: 'loading();', remote: true do %>
                <i class="icon-user"></i>
                Yours <small>[<%= @counts['yours'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if @counts['shared'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-share-alt"></i>
                Shared <small>[<%= @counts['shared'] %>]</small>
            </a>
        </li>
    <% else %>

        <li
        <% if active_tab == 'shared' %>
        class="active"
        <% end %>

        >
            <%= link_to profiles_path( opts.merge( 'tab' => 'shared' ) ),
                        onclick: 'loading();', remote: true do %>
                <i class="icon-share-alt"></i>
                Shared <small>[<%= @counts['shared'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if @counts['global'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-globe"></i>
                Global <small>[<%= @counts['global'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'global' %>
        class="active"
        <% end %>
        >
            <%= link_to profiles_path( opts.merge( 'tab' => 'global' ) ),
                        onclick: 'loading();', remote: true do %>
                <i class="icon-globe"></i>
                Global <small>[<%= @counts['global'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if current_user.admin? %>
        <% if @counts['others'] == 0 %>
            <li class="disabled">
                <a href="#">
                    <i class="icon-group"></i>
                    Others' <small>[<%= @counts['others'] %>]</small>
                </a>
            </li>
        <% else %>
            <li
            <% if active_tab == 'others' %>
            class="active"
            <% end %>
            >
                <%= link_to profiles_path( opts.merge( 'tab' => 'others' ) ),
                            onclick: 'loading();', remote: true do %>
                    <i class="icon-group"></i>
                    Others' <small>[<%= @counts['others'] %>]</small>
                <% end %>
            </li>
        <% end %>
    <% end %>

</ul>

<p class="muted">
    <%=
        case active_tab
            when 'yours'
                "You are seeing profiles you've created."
            when 'shared'
                "You are seeing profiles others have shared with you."
            when 'global'
                "You are seeing globally available profiles."
            when 'others'
                "You are seeing all others' profiles -- you can see them because you're an administrator."
        end
    %>
</p>

<% if profiles.any? %>
    <%= my_paginate profiles, remote: true %>

    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <% if active_tab == 'global' %>
            <th>
                Default?
            </th>
            <% end %>
            <th>
                Name
            </th>

            <% if active_tab != 'yours' %>
                <th>
                    Owner
                </th>
            <% end %>

            <th class="hidden-phone">
                Last update
            </th>
            <th class="hidden-phone">
                Created at
            </th>
        </tr>
        </thead>
        <% profiles.each do |profile| %>
            <tr>
                <% if active_tab == 'global' %>
                    <td>
                        <%= simple_form_for profile,
                                           url: make_default_profile_path( profile, opts ),
                                           method: :patch, remote: true,
                                           html: { onsubmit: 'loading();' } do %>
                            <input type="radio"
                                   class="make-default"
                                    onclick="$(this).submit()"
                                   <%= 'checked="checked"'.html_safe if profile.default? %>
                                   <%= 'disabled' if !current_user.admin? %>
                            >
                        <% end %>
                    </td>
                <% end %>

                <td><%= profile.name %></td>

                <% if active_tab != 'yours' %>
                    <td>
                        <% if profile.owner == current_user %>
                            <span class="label">You</span>
                        <% else %>
                            <%= link_to profile.owner, user_path( profile.owner ) %>
                    <% end %>
                    </td>
                <% end %>

                <td class="hidden-phone"><%= l profile.updated_at %></td>
                <td class="hidden-phone"><%= l profile.created_at %></td>
                <td>
                    <% if can? :read, profile %>
                        <%= link_to profile, title: 'Show', class: 'btn btn-small btn-info' do %>
                            <i class="icon-eye-open icon-muted"></i>
                        <% end %>
                    <% end %>

                    <%= render partial: 'actions', locals: { profile: profile } %>
                </td>
            </tr>
            <tr>
                <td class="description" colspan='5'>
                    <blockquote><%= profile.html_description_excerpt %></blockquote>
                </td>
            </tr>
        <% end %>
<% else %>
    <p class="alert alert-info">
        No such profiles.
    </p>
<% end %>
</table>

