<% title @profile.name %>

<% breadcrumb_add 'Profiles', profiles_path %>

<% subnav spider: 'Spider <small>&mdash; Crawler and scope settings</small>',
          http: 'HTTP <small>&mdash; Network settings</small>',
          auditor: 'Auditor <small>&mdash; Fuzzing settings</small>',
          fingerprinting: 'Fingerprinting <small>&mdash; Platform identification</small>',
          modules: 'Modules <small>&mdash; Security checks</small>',
          plugins: 'Plugins <small>&mdash; Extra functionality</small>',
          login: 'Login <small>&mdash; Session settings</small>' %>

<% add_to_affixed_sidebar do %>
    <% if can? :edit, @profile %>
        <%= link_to edit_profile_path( @profile ), title: 'Edit',
                    class: 'btn btn-small btn-warning' do %>
            <i class="icon-pencil"></i>
        <% end %>
    <% end %>

    <% if can? :copy, @profile %>
        <%= link_to copy_profile_path( @profile ),
                    title: "Create a new profile based on '#{@profile.name}'",
                    class: 'btn btn-small btn-primary' do %>
            <i class="icon-copy"></i>
        <% end %>
    <% end %>

    <% if can?( :delete, @profile ) && !@profile.default? %>
        <%= link_to @profile, title: 'Delete', method: :delete,
                    class: 'btn btn-small btn-danger',
                    data: { confirm: 'Are you sure?' } do %>
            <i class="icon-trash"></i>
        <% end %>
    <% end %>

    <% if can? :read, @profile %>
        <%= link_to profile_path( @profile, format: :yaml ),
                    title: 'Download',
                    class: 'btn btn-small btn-inverse' do %>
            <i class="icon-download-alt"></i>
        <% end %>
    <% end %>
<% end %>

<div id='profiles'>
<%= render @profile %>
</div>
