<div class="accordion">
    <% issues.each do |issue| %>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="btn btn-primary" data-toggle="collapse"
                   href="#<%= issue.digest %>">
                    <i class="icon-eye-open"></i>
                </a>

                <%= link_to issue, scan_issue_url( issue.scan, issue ) %>
            </div>

            <div id="<%= issue.digest %>" class="accordion-body collapse issue">
                <div class="accordion-inner well">
                    <table class="table table-striped table-hover fixed">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <th>Element</th>
                            <% if issue.vector_name %>
                            <th>Input</th>
                            <% end %>
                        </tr>
                        </thead>
                        <tr>
                            <td class="wrap">
                                <%= link_to issue.url, issue.url  %>
                            </td>
                            <td>
                                <%= issue.vector_type %>
                            </td>
                            <% if issue.vector_name %>
                            <td class="wrap">
                                <%= issue.vector_name %>
                            </td>
                            <% end %>
                        </tr>
                    </table>

                    <p>
                        <%= issue.description %>
                    </p>
                </div>
            </div>
        </div>
    <%end%>
</div>
