<%
   ref_issue = issues.first
   group_id  = "#{scan.id}-#{ref_issue.id_name}"
%>

<tr class="issue-type">
    <td colspan="6">
        <span onclick="$('#<%= group_id %>').collapse( 'toggle' );"
              class="label label-<%= issue_severity_to_alert ref_issue.severity %>">
            <%= type %> (<%= issues.size %>)
        </span>
    </td>
</tr>

<tr class="issue-group">
    <td></td>
    <td colspan="5">
        <div class="collapse issue-group-container severity-<%= ref_issue.severity.downcase %>" id="<%= group_id %>">
            <table class="table table-hover table-striped issue-group">
                <thead>
                    <tr>
                        <th style="width: 4%"></th>
                        <th style="width: 36%"></th>
                        <th style="width: 3%"></th>
                        <th style="width: 15%"></th>
                        <th style="width: 3%"></th>
                    </tr>
                </thead>

                <tr>
                    <td colspan="5">
                        <p class="description well">
                            <%= ref_issue.description %>
                        </p>
                    </td>
                </tr>

                <% issues.each do |issue| %>
                    <%= render 'issues/issue_row',
                               issue:      issue,
                               active_tab: active_tab
                    %>
                <% end %>
            </table>
        </div>
    </td>
</tr>
