<% issues ||= @scan.sorted_issues %>

<div class="row-fluid">
    <div class="span12" id='issues'>
        <h2>Issues <small>[<%= issues.size %>]</small></h2>

        <p class="muted">
            Click on an issue's name for details,
            click on a row to see a quick description.
        </p>

        <% if issues.any? %>
            <table class="hidden-phone table table-striped table-hover fixed">
                <thead>
                    <tr>
                        <th style="width: 23%">Name</th>
                        <th style="width: 44%">URL</th>
                        <th style="width: 5%">Element</th>
                        <th style="width: 14%">Input</th>
                        <th style="width: 8%">Severity</th>
                        <th style="width: 6%">
                            CWE
                            <a href="#" rel="tooltip"
                               title="Vulnerability definitions from Common Weakness Enumeration project.">
                                <i class="icon-info-sign"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <% issues.each do |issue| %>
                <tr onclick="$('#description-<%= issue.digest %>').collapse( 'toggle' );">
                    <td>
                        <%= link_to issue.name, scan_issue_url( issue.scan, issue ) %>
                    </td>
                    <td class="wrap">
                            <%= link_to issue.url, issue.url %>
                    </td>
                    <td><%= issue.vector_type.capitalize %></td>
                    <td class="wrap"><%= issue.vector_name %></td>
                    <td>
                        <p class="label label-<%= issue_severity_to_alert issue.severity %>">
                            <%= issue.severity %>
                        </p>
                    </td>
                    <td>
                        <% if issue.cwe_url %>
                            <%= link_to issue.cwe.to_s, issue.cwe_url %>
                        <% end %>
                    </td>
                </tr>
                <tr class="description">
                    <td class="description" colspan="7">

                        <div class="description-container collapse" id="description-<%= issue.digest %>">
                            <blockquote>
                                <%= issue.description %>
                            </blockquote>

                            <p>
                                See also:
                                <%= issue.references.map do |name, url|
                                    link_to name, url
                                end.join( ', ' ).html_safe %>
                            </p>
                        </div>
                    </td>
                </tr>
                <% end %>
            </table>

            <div class="visible-phone">
                <a href="#" onclick="$('.issue').collapse( 'show' ); return false;">Expand all</a>
                |
                <a href="#" onclick="$('.issue').collapse( 'hide' ); return false;">Collapse all</a>

                <hr/>

                <%= render partial: '/issues/twin_accordion',
                           locals: {
                                   issues:     issues,
                                   class_name: 'span6'
                           }
                %>
            </div>
    <% else %>
            <p class="alert alert-info">
                No issues discovered<%= ' yet' if @scan.active? %>.
            </p>
        <% end %>

    </div>
</div>
