<ul class="nav nav-tabs hidden-phone" id="issue-tabs"
    data-table-container="table-container">

    <% if counts['all'] == 0 %>
        <li class="disabled">
            <a href="#">
                All <small>[<%= counts['all'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'all' %>
        class="active"
        <% end %>
        >
            <%= link_to url_method.call( @scan, opts.merge( format: 'js', tab: 'all' ) ),
                        onclick: 'loading();', remote: true do %>
                All <small>[<%= counts['all'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if counts['fixed'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-asterisk"></i>
                Fixed <small>[<%= counts['fixed'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'fixed' %>
        class="active"
        <% end %>
        >
            <%= link_to url_method.call( @scan, opts.merge( format: 'js', tab: 'fixed' ) ),
                        onclick: 'loading();', remote: true,
                        rel: 'tooltip',
                        title:  issue_tab_description( 'fixed' ) do %>
                <i class="icon-asterisk"></i>
                Fixed <small>[<%= counts['fixed'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if counts['verified'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-ok"></i>
                Verified <small>[<%= counts['verified'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'verified' %>
        class="active"
        <% end %>
        >
            <%= link_to url_method.call( @scan, opts.merge( format: 'js', tab: 'verified' ) ),
                        onclick: 'loading();', remote: true,
                        rel: 'tooltip',
                        title:  issue_tab_description( 'verified' ) do %>
                <i class="icon-ok"></i>
                Verified <small>[<%= counts['verified'] %>]</small>
            <% end %>
        </li>
    <% end %>


    <% if counts['pending-verification'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-exclamation-sign"></i>
                Pending verification <small>[<%= counts['pending-verification'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'pending-verification' %>
        class="active"
        <% end %>
        >
            <%= link_to url_method.call( @scan, opts.merge( format: 'js', tab: 'pending-verification' ) ),
                        onclick: 'loading();', remote: true,
                        rel: 'tooltip',
                        title:  issue_tab_description( 'pending-verification' ) do %>
                <i class="icon-exclamation-sign"></i>
                Pending verification <small>[<%= counts['pending-verification'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if counts['false-positives'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-remove"></i>
                False positives <small>[<%= counts['false-positives'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'false-positives' %>
        class="active"
        <% end %>
        >
            <%= link_to url_method.call( @scan, opts.merge( format: 'js', tab: 'false-positives' ) ),
                        onclick: 'loading();', remote: true,
                        rel: 'tooltip',
                        title:  issue_tab_description( 'false-positives' ) do %>
                <i class="icon-remove"></i>
                False positives <small>[<%= counts['false-positives'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if counts['awaiting-review'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-info-sign"></i>
                Awaiting review <small>[<%= counts['awaiting-review'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'awaiting-review' %>
        class="active"
        <% end %>
        >
            <%= link_to url_method.call( @scan, opts.merge( format: 'js', tab: 'awaiting-review' ) ),
                        onclick: 'loading();', remote: true,
                        rel: 'tooltip',
                        title:  issue_tab_description( 'awaiting-review' ) do %>
                <i class="icon-info-sign"></i>
                Awaiting review <small>[<%= counts['awaiting-review'] %>]</small>
            <% end %>
        </li>
    <% end %>

</ul>

