<% title @issue.to_s.html_safe %>

<% breadcrumb_add 'Scans', @issue.scan %>
<% breadcrumb_add @issue.scan, @issue.scan %>

<%
   subnav(
       {
           identification_data: 'Identification data',
           http_data: 'HTTP data',
           request: '<small>&mdash; Request</small>',
           response: '<small>&mdash; Response</small>',
           headers: '<small>&mdash; Headers</small>'
       },
       top: 'Overview'
   )

   not_available = '<p class="alert alert-info">Not available</p>'.html_safe

%>

<% if @issue.references.any? %>
    <% add_to_affixed_sidebar do %>
        <div id="references">
            <h3>References</h3>

            <ul>
                <% @issue.references.each do |k, v| %>
                <li><%= link_to k, v %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>

<div id="issues">
    <div class="page-header">
        <h1><%= @issue %>,</h1>

        <div class="lead">
            at <%= link_to @issue.url, @issue.url %>
            <small>&ndash; found by <%= link_to @issue.scan, scan_url( @issue.scan ) %>.</small>
        </div>

        <p class="pull-left label label-<%= issue_severity_to_alert @issue.severity %>">
            <%= @issue.severity %> severity
        </p>
    </div>

    <blockquote>
        <%= @issue.description %>
    </blockquote>

    <hr/>

    <% if @issue.remarks.any? %>
        <div class="alert alert-warning">
            <i class="icon-exclamation-sign"></i>
            Remarks:

            <ul class="unstyled">
                <% @issue.remarks.values.flatten.each do |remark| %>
                    <li><%= remark %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <hr/>
    <%= render 'status_messages' %>

    <ul class="nav nav-tabs" id="issue-tabs"
        data-table-container="table-container">
        <li class="active">
            <a href="#issue-<%= @issue.digest %>-technical-details" data-toggle="tab">
                <i class="icon-file-alt"></i>
                Technical details
            </a>
        </li>

        <li>
            <a href="#issue-<%= @issue.digest %>-discussion" data-toggle="tab">
                <i class="icon-comments"></i>
                Discussion <small>[<%= @issue.comments.count %>]</small>
            </a>
        </li>

        <% if @issue.has_verification_steps? %>
            <li>
                <a href="#issue-<%= @issue.digest %>-verification" data-toggle="tab">
                    <i class="icon-check"></i>
                    Verification
                </a>
            </li>
        <% end %>

        <% if @issue.has_remediation_steps? %>
            <li>
                <a href="#issue-<%= @issue.digest %>-remediation" data-toggle="tab">
                    <i class="icon-asterisk"></i>
                    Remediation
                </a>
            </li>
        <% end %>

        <li>
            <a href="#issue-<%= @issue.digest %>-review" data-toggle="tab">
                <i class="icon-edit"></i>
                Review
            </a>
        </li>

        <li>
            <a href="#issue-<%= @issue.digest %>-timeline" data-toggle="tab">
                <i class="icon-reorder"></i>
                Timeline
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="issue-<%= @issue.digest %>-technical-details" class="tab-pane active in">

            <h3 id="identification_data">Identification data</h3>
            <table class="table fixed">
                <thead>
                    <tr>
                        <th>
                            Injected seed

                            <% if @issue.seed %>
                            <a href="#" rel="tooltip"
                               title="This seed uncovered the vulnerable vector during the audit.">
                                <i class="icon-info-sign"></i>
                            </a>
                            <% end %>
                        </th>
                        <th>
                            Signature

                            <% if @issue.signature %>
                            <a href="#" rel="tooltip"
                               title="This signature was used to detect the vulnerability.">
                                <i class="icon-info-sign"></i>
                            </a>
                            <% end %>
                        </th>
                        <th>
                            Proof
                            <% if @issue.proof %>
                                <a href="#" rel="tooltip"
                                   title="This string was used to verify the existence of the vulnerability.">
                                    <i class="icon-info-sign"></i>
                                </a>
                            <% end %>
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td class="wrap"><%= @issue.seed ? u( @issue.seed ) : not_available %></td>
                    <td class="wrap"><%= @issue.signature || not_available %></td>
                    <td class="wrap">
                        <% if @issue.proof %>
                            <%= @issue.proof.recode %>
                        <% else %>
                            <%= not_available %>
                        <% end %>
                    </td>
                </tr>
            </table>

            <hr/>

            <h3 id="http_data">HTTP data</h3>

            <h4 class="pull-left" id="request">Request</h4>
            <% request_params = @issue.audit_options[:params] %>

            <% if (@issue.vector_type.downcase == 'form' || @issue.vector_type.downcase == 'link') &&
                    (@issue.http_method.downcase == 'get' || @issue.http_method.downcase == 'post')  %>
                <form class="pull-left" action="<%= @issue.url %>"
                      target="_blank" method="<%= @issue.http_method.downcase %>">
                    <% if request_params %>
                        <% request_params.each_pair do |name, value|%>
                            <input type="hidden" name="<%= name.recode %>" value="<%= value.gsub( "\0", "&#00;" ).recode %>" />
                        <%end%>
                    <%end%>
                    <button title="Replay the request" type="submit"
                            class="btn btn-mini btn-inverse repeat-request-btn">
                        <i class="icon-repeat"></i>
                    </button>
                </form>
            <% end %>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Method
                    </th>
                    <th>
                        Resource

                        <a href="#" rel="tooltip"
                           title="This resource handled the logged vector's data.">
                            <i class="icon-info-sign"></i>
                        </a>
                    </th>

                    <% if request_params %>
                        <th colspan="2">
                            Parameters

                            <a href="#" rel="tooltip"
                               title="Full request parameters.">
                                <i class="icon-info-sign"></i>
                            </a>
                        </th>
                    <% end %>
                </tr>
                </thead>
                <tr>
                    <td class="wrap"><%= @issue.http_method || not_available %></td>
                    <td class="wrap">
                        <%= @issue.url ?
                                    link_to( @issue.url, @issue.url ) :
                                    not_available %>
                    </td>

                    <% if request_params %>
                    <td>
                        <table id="parameters" class="table key-values">
                            <% request_params.each do |k, v| %>
                                <tr>
                                    <th>
                                        <%= u k %>
                                    </th>
                                    <td>
                                        <%= u v %>
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                    </td>
                    <% end %>

                </tr>
            </table>

            <hr/>

            <h4 id="response">Response</h4>

            <% if @issue.response_body %>
                <% if @issue.response_body_contains_proof? %>
                    <p class="muted">
                        Proof is highlighted in red and scroll-centered.
                    </p>
                <% end %>

                <a id="render-response-button"
                   class="btn btn-small btn-inverse hidden-phone"
                   data-html="<%= @issue.base64_response_body %>" >
                    Render the response
                </a>

                <div id="rendered-response-container" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &#10006;
                        </button>
                        <h3>Rendered response</h3>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>

                <pre id="response_body_container"><%= highlight_issue_response_body( @issue, 'proof' ).recode.html_safe %></pre>

            <% else %>
                <p class="alert alert-info">
                    Response is not available
                </p>
            <% end %>

            <hr/>

            <h4 id="headers">Headers</h4>
            <table class="table key-values">
                <tr>
                    <td colspan="2">
                        <table class="table">
                            <tr>
                                <th class="top" colspan="2">Request</th>
                            </tr>
                            <% if @issue.headers[:request] %>
                                <% @issue.headers[:request].each do |k, v| %>
                                    <tr>
                                        <th><%= k %></th>
                                        <td><%= v %></td>
                                    </tr>
                                <% end %>
                            <% else %>
                                <tr>
                                    <td class="alert alert-info">
                                        No request headers are available
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                    </td>
                    <td colspan="2">
                        <table class="table">
                            <tr>
                                <th class="top" colspan="2">Response</th>
                            </tr>
                            <% if @issue.headers[:response] %>
                                <% @issue.headers[:response].each do |k, v| %>
                                    <tr>
                                        <th><%= k %></th>
                                        <td><%= v %></td>
                                    </tr>
                                <% end %>
                            <% else %>
                                <tr>
                                    <td class="alert alert-info">
                                        No response headers are available
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div id="issue-<%= @issue.digest %>-discussion" class="tab-pane">
            <%= render partial: 'comments/list',
                       locals: { comments: @issue.comments,
                                 list_url: scan_issue_comments_url( @issue.scan, @issue, partial: true )
                       } %>

            <%= render partial: 'comments/form', locals: { commentable: @issue } %>
        </div>

        <% if @issue.has_verification_steps? %>
            <div id="issue-<%= @issue.digest %>-verification" class="tab-pane">
                <h3>
                    Verification steps
                </h3>

                <p>
                    <%= m @issue.verification_steps %>
                </p>

            </div>
        <% end %>

        <% if @issue.has_remediation_steps? %>
            <div id="issue-<%= @issue.digest %>-remediation" class="tab-pane">
                <h3>
                    Remediation steps
                </h3>

                <p>
                    <%= m @issue.remediation_steps %>
                </p>

            </div>
        <% end %>

        <div id="issue-<%= @issue.digest %>-review" class="tab-pane">
            <%= render 'form' %>
        </div>

        <div id="issue-<%= @issue.digest %>-timeline" class="tab-pane">
            <ul class="unstyled">

            <% @issue.timeline.each do |t| %>
                <li>
                    <%= t.action_description.capitalize %>

                    <% if t.actor %>
                        by <%= link_to t.actor, user_path( t.actor ) %>
                    <% end %>

                    <small class="muted">&ndash; <%= l t.created_at %></small>

                    <% if t.text %>
                        <blockquote class="muted">
                            <%= t.text %>
                        </blockquote>
                    <% end %>
                </li>
            <% end %>

                <li>Created <small class="muted">&ndash; <%= l @issue.created_at %></small></li>
            </ul>
        </div>

    </div>
</div>
