<%= simple_form_for( @dispatcher ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <div class="row-fluid">
            <div class="span6">
                <%= f.input :address %>
                <%= f.input :port %>
            </div>

            <div class="span6">
                <%= f.input :description,
                            hint: 'You can use <a href="http://daringfireball.net/' +
                                          'projects/markdown/syntax">Markdown</a> for text formatting.' %>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <%= f.button :submit %>
    </div>
<% end %>
