<% has_third_party_scan = false %>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="hidden-phone">PID</th>
            <th>URL</th>
            <th>Owner</th>
            <th>Dispatched at</th>
        </tr>
    </thead>
    <% jobs.each do |job| %>
        <% scan = Scan.find_by_instance_url( job['url'] ) %>

        <% if scan && can?( :red, scan ) %>
            <tr>
                <td class="hidden-phone"><%= job['pid'] %></td>

                <td>
                    <%= link_to job['url'], scan %>
                </td>

                <td><%= job['owner'] %></td>
                <td><%= job['starttime'] %></td>
            </tr>
        <% elsif !scan %>
            <tr class="warning">
                <% has_third_party_scan = true %>

                <td><%= job['pid'] %></td>
                <td><%= job['url'] %></td>
                <td><%= job['owner'] %></td>
                <td><%= job['starttime'] %></td>
            </tr>
        <% end %>
    <% end %>
</table>

<% if has_third_party_scan %>
    <p class="alert alert-info">
        Rows in yellow indicate that the Instance was not created by this WebUI.
    </p>
<% end %>
