<%
   treat_as_alive = local_assigns[:treat_as_alive].nil? ? true : false
   type = (treat_as_alive ? :alive : :unreachable)

   tab_name   = "#{type}_tab"
   active_tab = params["#{type}_tab"]
   opts       = params.dup
   opts.delete( :format )
%>

<ul class="nav nav-tabs" id="profile-table-tab"
    data-table-container="table-container">

    <% if @counts[type]['yours'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-user"></i>
                Yours <small>[<%= @counts[type]['yours'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'yours' %>
        class="active"
        <% end %>
        >

            <%= link_to dispatchers_path( opts.merge( tab_name => 'yours' ) ),
                        onclick: 'loading();', remote: true do %>
                <i class="icon-user"></i>
                Yours <small>[<%= @counts[type]['yours'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if @counts[type]['shared'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-share-alt"></i>
                Shared <small>[<%= @counts[type]['shared'] %>]</small>
            </a>
        </li>
    <% else %>

        <li
        <% if active_tab == 'shared' %>
        class="active"
        <% end %>

        >
            <%= link_to dispatchers_path( opts.merge( tab_name => 'shared' ) ),
                        onclick: 'loading();', remote: true do %>
                <i class="icon-share-alt"></i>
                Shared <small>[<%= @counts[type]['shared'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if @counts[type]['global'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-globe"></i>
                Global <small>[<%= @counts[type]['global'] %>]</small>
            </a>
        </li>
    <% else %>
        <li
        <% if active_tab == 'global' %>
        class="active"
        <% end %>
        >
            <%= link_to dispatchers_path( opts.merge( tab_name => 'global' ) ),
                        onclick: 'loading();', remote: true do %>
                <i class="icon-globe"></i>
                Global <small>[<%= @counts[type]['global'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if current_user.admin? %>
        <% if @counts[type]['others'] == 0 %>
            <li class="disabled">
                <a href="#">
                    <i class="icon-group"></i>
                    Others' <small>[<%= @counts[type]['others'] %>]</small>
                </a>
            </li>
        <% else %>
            <li
            <% if active_tab == 'others' %>
            class="active"
            <% end %>
            >
                <%= link_to dispatchers_path( opts.merge( tab_name => 'others' ) ),
                            onclick: 'loading();', remote: true do %>
                    <i class="icon-group"></i>
                    Others' <small>[<%= @counts[type]['others'] %>]</small>
                <% end %>
            </li>
        <% end %>
    <% end %>

</ul>

<p class="muted">
    <%=
        case active_tab
            when 'yours'
                "You are seeing dispatchers you've created."
            when 'shared'
                "You are seeing dispatchers others have shared with you."
            when 'global'
                "You are seeing globally available dispatchers."
            when 'others'
                "You are seeing all others' dispatchers -- you can see them because you're an administrator."
        end
    %>
</p>

<% if dispatchers.any? %>
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <% if treat_as_alive && active_tab == 'global' %>
                <th>
                    Default?
                </th>
            <% end %>

            <th>URL</th>
            <th>
                Workload score

                <a href="#" rel="tooltip" data-placement="bottom"
                   title="Signifies the Dispatcher's scan workload.">
                    <i class="icon-info-sign"></i>
                </a>
            </th>

            <% if treat_as_alive %>
                <th>Alive Instances</th>
                <th>Name</th>
                <th>
                    Pipe-ID

                    <a href="#" rel="tooltip" data-placement="bottom"
                       title="Identification for the bandwidth pipe to which
                   the Dispatcher is connected.">
                        <i class="icon-info-sign"></i>
                    </a>
                </th>
                <th>Grid member?</th>
            <% end %>

            <th>Description</th>
            <th></th>
        </tr>
        </thead>

        <% dispatchers.each do |dispatcher| %>
            <tr>
                <% if treat_as_alive && active_tab == 'global' %>
                    <td>
                        <%= simple_form_for dispatcher,
                                            url: make_default_dispatcher_path( dispatcher, opts ),
                                            method: :patch, remote: true,
                                            html: { onsubmit: 'loading();' } do %>
                            <input type="radio"
                                   class="make-default"
                                   onclick="$(this).submit()"
                                   <%= 'checked="checked"'.html_safe if dispatcher.default? %>
                                   <%= 'disabled' if !current_user.admin? %>
                            >
                        <% end %>
                    </td>
                <% end %>

                <td><%= dispatcher.url %></td>
                <td><%= dispatcher.score %></td>

                <% if treat_as_alive %>
                    <td><%= (ss = dispatcher.jobs.size) > 1 ? ss : 'None yet' %></td>
                    <td><%= dispatcher.name || '(Not set)' %></td>
                    <td><%= dispatcher.pipe_id || '(Not set)' %></td>
                    <td><%= dispatcher.grid_member? ? 'Yes' : 'No' %></td>
                <% end %>

                <td><%= truncate_html m dispatcher.description %></td>

                <td>
                    <% if can? :read, Dispatcher %>
                        <%= link_to dispatcher, title: 'Show Dispatcher info',
                                    class: 'btn btn-small btn-info' do %>
                            <i class="icon-eye-open"></i>
                        <% end %>
                    <% end %>

                    <% if can? :edit, Dispatcher  %>
                        <%= link_to edit_dispatcher_path( dispatcher ), title: 'Edit Dispatcher',
                                    class: 'btn btn-small btn-warning' do %>
                            <i class="icon-pencil"></i>
                        <% end %>
                    <% end %>

                    <% if can?( :delete, Dispatcher ) && !dispatcher.has_scheduled_scans? %>
                        <%= link_to dispatcher, title: 'Delete Dispatcher',
                                    method: :delete, class: 'btn btn-small btn-danger',
                                    data: { confirm: 'Are you sure you want to delete this Dispatcher?' } do %>
                            <i class="icon-trash"></i>
                        <% end %>
                    <% end %>

                    <% if can? :share, dispatcher %>
                        <%= render partial: 'shared/share_form', locals: { model: dispatcher, nolabel: true } %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p class="alert alert-info">
        There are no dispatchers in the '<%= active_tab.to_s.capitalize %>'
        category at the moment.
    </p>
<% end %>
