<h2>Available <small>[<%= @alive_dispatchers.size %>]</small></h2>

<% if @alive_dispatchers.any? %>
    <%= render partial: 'table', locals: { dispatchers: @alive_dispatchers } %>
<% else %>
    <p class="alert alert-info">
        There are no available Dispatchers at the moment,
        <a href="<%= new_dispatcher_path %>">add one now</a>.
    </p>
<% end %>

<% if @unreachable_dispatchers.any? %>
    <h2>Unreachable <small>[<%= @unreachable_dispatchers.size %>]</small></h2>
    <%= render partial: 'table',
               locals: { dispatchers: @unreachable_dispatchers,
                         treat_as_alive: false } %>
<% end %>
