<div class="accordion">
    <% components.each do |shortname, info| %>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#modules-accordion" href="#<%= shortname %>">
                    <%= info[:name] %> (<%= shortname %>)
                </a>
            </div>
            <div style="height: 0px;" id="<%= shortname %>" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="accordion-inner">
                        <pre> <%= prepare_description info[:description] %> </pre>
                    </div>

                    <div class="accordion-inner">
                        <strong>Version:</strong> <%= info[:version] %><br/>
                        <strong>Authors:</strong>

                        <ul>
                            <% info[:authors].each do |author| %>
                                <li><%= author %></li>
                            <% end %>
                        </ul>
                    </div>

                    <% if info[:options] %>
                        <div class="accordion-inner">
                            <strong>Options</strong>

                            <p>
                                <%= render partial: 'plugin_options',
                                           locals: {
                                                   info:       info,
                                                   shortname:  shortname,
                                                   options:    @profile.plugins[shortname] || {},
                                                   disabled:   true
                                           } %>
                            </p>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    <%end%>
</div>
