<div class="accordion">
    <% components.each do |shortname, info| %>
        <div class="accordion-group profile-<%= input %>">
            <div class="accordion-heading">

                <input id="profile_<%= input %>_<%= shortname %>"
                       <% if input.to_s != 'checks' %>
                        name="profile[selected_<%=input%>][]"
                       <% else %>
                        name="profile[<%=input%>][]"
                       <% end %>

                    <%='checked' if selected.include? shortname %> type="checkbox"
                    value="<%=shortname%>">

                <a class="accordion-toggle accordion-component-title" data-toggle="collapse"
                   data-parent="#component-accordion" href="#<%= shortname %>">
                    <%= info[:name] %> (<%= shortname %>)
                </a>
            </div>
            <div style="height: 0px;" id="<%= shortname %>" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="markdown">
                        <%= m info[:description] %>
                    </div>
                </div>

                <div class="accordion-inner">
                    <strong>Version:</strong> <%= info[:version] %><br/>
                    <strong>Authors:</strong>

                    <ul>
                        <% info[:authors].each do |author| %>
                        <li><%= author %></li>
                        <% end %>
                    </ul>
                </div>

                <% if info[:targets].is_a? Array %>
                    <div>
                        <strong>Supported platforms:</strong>
                        <ul>
                            <% info[:targets].each do |platform| %>
                                <li><%= platform %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <% if info[:options] %>
                <div class="accordion-inner">
                    <strong>Options</strong>

                    <div class="plugin-options">
                        <%= render partial: 'plugin_options',
                                   locals: {
                                       plugin_info:   info,
                                       plugin_name:   shortname,
                                       configuration: @profile.plugins[shortname] || {},
                                   } %>
                    </div>
                </div>
                <%end%>

            </div>
        </div>
    <%end%>
</div>
