<div class="accordion">
    <% issues.each do |issue| %>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   href="#<%= issue.digest %>">
                    <%= issue.name %>
                </a>
            </div>

            <div id="<%= issue.digest %>" class="accordion-body collapse issue">
                <div class="accordion-inner well">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <% if issue.var %>
                            <th>Input</th>
                            <% end %>
                            <th>Element type</th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="wrap">
                                <%= link_to issue.url, issue.url  %>
                            </td>
                            <% if issue.var %>
                            <td class="wrap">
                                <%= issue.var %>
                            </td>
                            <% end %>
                            <td>
                                <%= issue.elem %>
                            </td>
                        </tr>
                    </table>

                    <p>
                        <%= issue.description %>
                    </p>

                    <% if issue.references.is_a?( Hash ) && issue.references.any? %>
                    <hr/>
                        <h4>References</h4>
                        <ul>

                        <% if issue.cwe_url %>
                            <li><%= link_to 'CWE definition', issue.cwe_url %></li>
                        <% end %>

                        <% issue.references.each do |name, url| %>
                        <li><%= link_to name, url %></li>
                        <% end %>
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>
    <%end%>
</div>
