<% if User.count > 1 && can?( :share, model ) %>

    <script type="text/javascript">
        selector = '#share<%= model.class %><%= model.id %>';

        if( !$(selector).is( ':visible' ) ) {
            refreshModal = true;

            // Remove previous nodes from the DOM.
            $(selector).remove();
        } else {
            refreshModal = false;
        }
    </script>

    <% if !local_assigns[:nodisplay] %>
        <a href="#share<%= model.class %><%= model.id %>" title="Share scan"
           role="button" class="btn btn-small" data-toggle="modal">
            <i class="icon-share"></i>

            <% if (shared_with = model.users.size - 1) > 0 %>
            <span title="Shared with <%= pluralize shared_with, 'more user' %>."
                  class="label"><%= shared_with %></span>
            <% end %>

            <%= "Share #{model.class.to_s.downcase}" if !local_assigns[:nolabel] %>
        </a>
    <% end %>

    <div id="share<%= model.class %><%= model.id %>" class="modal hide fade"
         tabindex="-1" role="dialog">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &#10006;
            </button>
            <h3>Share with:</h3>
        </div>

        <%= simple_form_for( model, url: polymorphic_path( model, action: 'share' ) ) do |f| %>
            <div class="modal-body">
                <%= f.error_notification %>
                <%= f.association :users, label: '', as: :check_boxes,
                                  collection: User.all - [model.owner] %>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, class: 'btn btn-small btn-primary', value: 'Share' %>
                <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        <% end %>
    </div>

    <script type="text/javascript">
        // If we have a scan table then we're probably inside it and since the
        // table will keep being updated by AJAX we must move the modal dialog
        // out of it otherwise it'll keep vanishing with each AJAX refresh.
        if( refreshModal ) {
            $( '#<%= model.class.to_s.downcase %>s' ).parent().before( $(selector) );
        }
    </script>
<% end %>
