<%
   show_crawl_options = true if !local_assigns.include?(:show_crawl_options)
   scan ||= @scan
%>

<div class="row-fluid">
  <div class="span3">

    <%= f.simple_fields_for scan.schedule do |schedule| %>
        <% if !scan.active %>
            <div class="row-fluid">
              <div class="span12">
                <fieldset>
                  <legend>Start at</legend>
                  <%=
                      tz = Time.zone
                      now = tz.now
                      schedule.text_field :start_at, as: :string,
                                     placeholder:   'hour:minute day/month/year',
                                     label:         false,
                                     hint:          "Now: #{now.hour}:#{now.min} #{now.day}/#{now.month}/#{now.year} in #{tz.name}"
                  %>
                </fieldset>
              </div>
            </div>
        <% end %>

        <div class="row-fluid">
          <div class="span12">
            <fieldset>
              <legend>Stop after</legend>
              <%=
                  schedule.text_field :stop_after, as: :string,
                                 placeholder:     'hours:minutes:seconds',
                                 label:           false,
                                 value:           scan.schedule.stop_after.nil? ?
                                                          nil : Arachni::Utilities.seconds_to_hms(scan.schedule.stop_after)
              %>

              <% if scan.spawns == 0 %>
              <%= schedule.label :stop_suspend, 'Suspend' %>
              <%= schedule.check_box :stop_suspend %>
              <% end %>
            </fieldset>
          </div>
        </div>
        </div>

        <div class="span9">
          <fieldset>
            <legend>Recurring</legend>

            <div class="row-fluid">
              <div class="span8">
                <div class="row-fluid">
                  <div class="span12">
                    <div class="row-fluid">
                      <div class="span1">
                        Every
                      </div>
                      <div class="span3">
                        <%= schedule.input :every_minute, placeholder: 'Minutes (1-59)', label: false %>
                      </div>

                      <div class="span2">
                        <%= schedule.input :every_hour, placeholder: 'Hours (1-23)', label: false %>
                      </div>

                      <div class="span2">
                        <%= schedule.input :every_day, placeholder: 'Days (1-29)', label: false %>
                      </div>

                      <div class="span3">
                        <%= schedule.input :every_month, placeholder: 'Months (1-12)', label: false %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span12">
                    <%= schedule.input :basetime, label: 'After',
                                       include_blank:    false,
                                       collection:       Schedule::BASETIME_OPTIONS.keys,
                                       label_method:     lambda { |type|
                                           Schedule::BASETIME_OPTIONS[type]
                                       }
                    %>
                  </div>
                </div>
              </div>
    <% end %>

    <% if show_crawl_options %>
        <div class="span4">
          <div class="control-group radio_buttons optional">
            <div class="controls">
              <p>
                Use sitemaps of previous revisions:
              </p>

              <p>
                <input id="scan_restrict_to_revision_sitemaps"
                       class="radio_buttons optional"
                       type="radio"
                       value="restrict_to_revision_sitemaps"
                       name="scan[sitemap_option]"
                       <%= 'checked' if scan.restrict_to_revision_sitemaps? %>
                >

                <label for="scan_restrict_to_revision_sitemaps"
                       class="radio_buttons optional control-label">
                  instead of crawling
                </label>
              </p>

              <p>
                <input id="scan_extend_from_revision_sitemaps"
                       class="radio_buttons optional"
                       type="radio"
                       value="extend_from_revision_sitemaps"
                       name="scan[sitemap_option]"
                       <%= 'checked' if scan.extend_from_revision_sitemaps? %>
                >

                <label for="scan_extend_from_revision_sitemaps"
                       class="radio_buttons optional control-label">
                  in addition to crawling
                </label>
              </p>
            </div>
          </div>
        </div>
    <% end %>
    </div>
    </fieldset>
    </div>
    </div>
