<%= simple_form_for( @scan ) do |f| %>
    <%= f.error_notification %>

    <div class="well">
        <%= f.input :url, as: :url, hint: 'Full URL of the targeted web application (must
                    include the appropriate protocol --
                    <i>http</i> or <i>https</i>).' %>

        <%= f.input :description,
                    hint: 'You can use <a href="http://daringfireball.net/' +
                           'projects/markdown/syntax">Markdown</a> for text formatting.' %>

        <%= f.input :instance_count,
                    hint: 'How many Instances to utilise for the scan.' %>

        <p class="alert alert-info">
            Workload distribution can achieve high efficiency levels which will result in significantly diminished scan times.
        </p>

        <div class="alert">
            <strong>Warning!</strong>
            <ul>
                <li>
                    High-performance distribution (i.e. using more than 1 Instance) is experimental.
                </li>
                <li>
                    Please be sure that the web server will be able to handle the heat,
                    otherwise you may end up killing it.
                </li>
            </ul>
        </div>

        <%= f.input :type, as: :hidden %>

        <div class="control-group">
            <label class="control-label" for="scan_profile">Profile</label>
            <div class="controls">
                    <select class="span2" name="scan[profile_id]" id="scan_profile">
                        <% @profiles.each do |p| %>
                            <option <%= 'selected' if p.default? %> value="<%= p.id %>"><%= p.name %></option>
                        <%end%>
                    </select>

                    <p class="help-block">
                        Configuration profile to use.
                    </p>
            </div>
        </div>

        <% if User.count > 1 %>
            <%= f.association :users, label: 'Share scan with:',
                              collection: User.all - [current_user] %>
        <% end %>

    </div>

    <% if (type_errors = @scan.errors.messages[:type]).any? %>
        <div class="alert alert-error">
            Scan type errors:
            <ul>
            <% type_errors.each do |e| %>
                <li><%= e %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row" id="scan-type-buttons">
        <div class="btn-group" data-toggle="buttons-radio">
            <a href="#" id="direct-btn" class="span4 btn btn-inverse scroll">
                <h4>Direct</h4>
            </a>
            <a href="#scan-type-buttons" id="remote-btn" class="span4 btn btn-inverse scroll">
                <h4>Remote</h4>
            </a>
            <a href="#scan-type-buttons" id="grid-btn" class="span3 btn btn-inverse scroll">
                <h4>High-Performance Grid</h4>
            </a>
        </div>
    </div>

    <div class="row" id="scan-type-descriptions">
        <div class="span4">
            <p class="well">Perform a direct scan from this machine to the web application.
                No need to setup anything else.</p>
        </div>
        <div class="span4">
            <p class="well">Delegate the scan workload to a deployed Dispatcher.
                No traffic will pass through this machine.</p>
        </div>

        <div class="span3">
            <p class="well">Combine the resources of multiple Dispatchers for super-fast scans.</p>
        </div>
    </div>

    <hr />

    <div class="hide well" id="dispatcher-remote">
        <% if @dispatchers.any? %>
        <div class="control-group">
            <label class="control-label" for="scan[remote_dispatcher_id]">Dispatcher</label>
            <div class="controls">
                <select class="span2" name="scan[remote_dispatcher_id]" id="remote_dispatcher_id">
                    <% @dispatchers.each do |d| %>
                    <option value="<%= d.id %>"><%= d.to_label %></option>
                    <% end %>
                </select>
                <div class="alert alert-info">
                    If the scan is configured to use more than 1 Instance,
                    all Instances will be from the same Dispatcher.
                </div>
            </div>
        </div>
        <% else %>
            <div class="alert alert-info">
                There are no available Dispatchers, <a href="<%= new_dispatcher_path %>">add one now</a>.
            </div>
        <% end %>
    </div>

    <div class="hide well" id="dispatcher-grid">
        <% if @grid_dispatchers.any? %>
        <div class="control-group">
            <label class="control-label" for="scan[grid_dispatcher_id]">Master Dispatcher</label>
            <div class="controls">


                <select class="span2" name="scan[grid_dispatcher_id]" id="grid_dispatcher_id">
                    <% @grid_dispatchers.each do |d| %>
                        <option value="<%= d.id %>"><%= d.to_label %></option>
                    <% end %>
                </select>

                <div class="alert alert-info">
                    If the scan is configured to use more than 1 Instance,
                    all Instances will be from Dispatchers with unique bandwidth pipes (Pipe-ID).
                    <br/>
                    Also, the selected Instance count option will be treated as
                    a maximum value in order to satisfy Grid load-balancing and availability
                    requirements.
                </div>
            </div>
        </div>

        <% else %>
            <div class="alert alert-info">
                There are no Dispatchers that are Grid members, <a href="<%= new_dispatcher_path %>">add one now</a>.
            </div>
        <% end %>
    </div>

    <%= f.button :submit, id: 'go-btn',
                 class: 'hide btn btn-large btn-primary',
                 value: 'Go!' %>

<% end %>
