<ul class="nav nav-list">
    <li class="divider"></li>

    <li class="nav-header">
        Revisions
    </li>

    <li class="<%= 'active' if @scan.overview? %>">
        <%= link_to scan_path( @scan, overview: true,
                              change_revision: true ),
                    remote: true, onclick: 'loading();' do %>
            <i class="icon-eye-open"></i>
            Overview &ndash; <%= @scan.overview.issue_count %> issues
        <% end %>
    </li>

    <li class="divider"></li>

    <li class="<%= 'active' if !@scan.overview? && @scan.root? %>">

        <%
           txt = "Root &ndash; #{@scan.root_revision.issues.count} issues, " +
                   (@scan.root_revision.running? ? 'so far...' :
                           "#{@scan.root_revision.issues.fixed.count} fixed")
        %>

        <%= link_to txt.html_safe, scan_path( @scan.root_revision,
                                             change_revision: true ),
                    remote: true, onclick: 'loading();' %>
    </li>

    <% @scan.root_revision.revisions.each.with_index do |revision, i| %>
        <li class="<%= 'active' if !@scan.overview? && revision.id == @scan.id %>">
            <%
               idx = "#{i+1} &ndash;"
               txt = "#{idx} #{revision.issues.count} new, "

               if revision.running?
                   txt += 'so far...'
               elsif revision.scheduled?
                   if revision.schedule.start_at
                       txt = "#{idx} Scheduled for #{l revision.schedule.start_at}
                            &ndash; #{distance_of_time_in_words_to_now revision.schedule.start_at}."
                   else
                       txt = "#{idx} Scheduled start datetime removed, no more scans will be performed."
                   end
               else
                  txt += "#{revision.issues.fixed.count} fixed."
               end

            %>
            <%= link_to txt.html_safe, scan_path( revision,
                                                 change_revision: true ),
                        remote: true, onclick: 'loading();' %>
        </li>
    <% end %>
</ul>
