<ul class="nav nav-list">
    <li class="nav-header">
        Toggle visibility of
    </li>

    <li id="comments-link-container">
        <a class="toggle-comments" data-toggle="collapse"
           href="#comments">
            <i class="icon-comments"></i>

                    <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                          class="label hide total-comments-counter">
                        <%= @scan.comments.size %>
                    </span>

                    <span title="The scan has new comments."
                          class="hide label label-info new-comments-counter">
                    </span>

            Comments
        </a>
    </li>

    <% if @scan.running? %>
    <li id="toggle-statistics">
        <a href="#statistics" data-toggle="collapse"
           title="Toggle statistics visibility" role="button">
            <i class="icon-list-alt"></i>

            Statistics
        </a>
    </li>
    <% end %>
</ul>

<% if @scan.root_revision.has_revisions? %>
    <div id="revisions-nav-list">
        <%= render 'revisions_nav_list' %>
    </div>
<% end %>

<ul class="nav nav-list">
    <li class="divider"></li>

    <li class="nav-header">
        Actions
    </li>

    <% if User.count > 1 && can?( :share, @scan ) %>
        <li>
            <a href="#shareScan<%= @scan.id %>" title="Share scan"
               role="button" data-toggle="modal">
                <i class="icon-share"></i>

                <% if (shared_with = @scan.users.size - 1) > 0 %>
                      <span title="Shared with <%= pluralize shared_with, 'more user' %>."
                            class="label"><%= shared_with %></span>
                <% end %>

                Share
            </a>

            <%= render partial: 'shared/share_form', locals: { model: @scan, nodisplay: true } %>
        </li>
    <% end %>

    <% if !@scan.suspended? && !@scan.finished? && can?( :update, @scan ) %>
        <li>
            <a href="#updateScanSchedule_<%= @scan.id %>"
               title="Update schedule"
               role="button" data-toggle="modal">
                <i class="icon-calendar"></i>
                Edit schedule
            </a>

            <%= render partial: 'scan_schedule_form', locals: { scan: @scan, nodisplay: true } %>
        </li>
    <% end %>

    <% if current_user.scan_groups.any? && can?( :update, @scan ) %>
        <li>
            <a href="#updateScanGroup_<%= @scan.id %>"
               title="Update group memberships"
               role="button" data-toggle="modal">
                <i class="icon-folder-close-alt"></i>
                Edit group memberships
            </a>

            <%= render partial: 'scan_group_form', locals: { scan: @scan, nodisplay: true } %>
        </li>
    <% end %>

    <% if can?( :update, @scan ) %>
        <li>
            <a href="<%= edit_scan_path @scan %>"
               title="Edit this scan's details"
               role="button">
                <i class="icon-edit"></i>
                Full edit
            </a>
        </li>
    <% end %>

    <% if !@scan.suspended? && @scan.finished? && !@scan.overview? && @scan.report %>
        <li id="download-report">
            <i class="icon-download-alt"></i>
            Download report as:

            <%
               reports_links = reports_with_outfile.map do |shortname, (name, desc)|
                   link_to name, report_scan_path( format: shortname ),
                           rel: 'tooltip', title:  desc, data: { 'no-turbolink' => true }
               end
            %>

            <ul class="nav nav-list">
                <% reports_links.each do |l| %>
                    <li>
                        <%= l %>
                    </li>
                <% end %>
                <li>
                    <%=
                        link_to 'AFR', report_scan_path( format: 'afr' ),
                                rel: 'tooltip', title:  'Arachni Framework Report',
                                data: { 'no-turbolink' => true }
                    %>
                </li>
            </ul>
        </li>
    <% end %>
</ul>

