<div class="page-header">
    <% if @scan.owner != current_user %>
        <span class="label label-info pull-right">Started by <%= @scan.owner.name %></span>
    <% end %>

    <% purl = @scan.parsed_url %>
    <h1>
        <%= "#{purl.scheme}://#{purl.host}" %><%= ":#{purl.port}" if purl.port %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small>
    </h1>

    <% if @scan.errors.messages.empty? %>
    <div id="scan-description-container" class="lead">
        <div id="scan-description">
            <%= m @scan.description %>
        </div>
    </div>
    <% end %>

    <% errors = @scan.errors.messages.dup %>

    <div id="scan-description-form" class="<%= 'hide' if !@scan.errors.messages.any? %>">
        <%= simple_form_for( @scan, remote: true, method: :put ) do |f| %>
            <%= f.error_notification %>

            <%= f.input :description, label: false,
                        hint: 'You can use <a href="http://daringfireball.net/' +
                                      'projects/markdown/syntax">Markdown</a> for text formatting.' %>

            <span id="posting-form-spinner" class="hide">
                <i class="icon-spinner icon-spin"></i>
            </span>
            <%= f.button :submit, value: 'Save', class: 'btn btn-inverse btn-small' %>
        <% end %>
    </div>

    <a href="#" class="btn btn-inverse btn-mini inline <%= 'hide' if errors.any? %>"
       id="edit-description-btn">
        Edit description
    </a>

</div>

<div class="hidden-desktop pull-left">
    <%= render partial: 'share_form', locals: { scan: @scan } %>
</div>

<div class="hidden-desktop">
    <a class="toggle-comments btn" data-toggle="collapse"
       href="#comments">
        <i class="icon-comments"></i>

        <% if @scan.comments.any? %>
                <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                      class="label total-comments-counter"><%= @scan.comments.size %></span>
        <% end %>

        <span title="The scan has new comments."
              class="hide label label-info new-comments-counter"></span>

        Toggle comments
    </a>
</div>

<div id="comments" class="accordion-body collapse">
    <div class="well">
        <%= render partial: 'comments/list.html',
                   locals: { comments: @scan.comments,
                             list_url: scan_comments_url( @scan, partial: true )
                   } %>

        <%= render partial: 'comments/form.html', locals: { commentable: @scan } %>
    </div>
</div>

<% if !@scan.error_messages.empty? %>
    <p class="alert alert-error">
        This scan has the logged the following
        <%= link_to 'errors', errors_scan_url( @scan, format: :txt ) %>
        (you may want to
        <a href="https://github.com/Arachni/webui/issues">report them</a>):
    </p>

    <pre id="error_messages"><%= @scan.error_messages %></pre>

    <script type="text/javascript">
        objDiv = document.getElementById( "error_messages" );
        objDiv.scrollTop = objDiv.scrollHeight;
    </script>
<% end %>

<%= render @scan.active? ? 'show_active' : 'show_inactive' %>
