<% if User.count > 1 && can?( :share, scan ) %>
    <script type="text/javascript">
        if( !$( '#shareScan_<%= scan.id %>' ).is( ':visible' ) ) {
            refreshModal = true;
        } else {
            refreshModal = false;
        }
    </script>

    <a href="#shareScan_<%= scan.id %>" title="Share scan"
       role="button" class="btn btn-small" data-toggle="modal">
        <i class="icon-share"></i>

        <% if (shared_with = scan.users.size - 1) > 0 %>
        <span title="Shared with <%= pluralize shared_with, 'more user' %>."
              class="label"><%= shared_with %></span>
        <% end %>

        <%= 'Share scan' if !local_assigns[:nolabel] %>
    </a>

    <div id="shareScan_<%= scan.id %>" class="modal hide fade"
         tabindex="-1" role="dialog">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&#10006;</button>
            <h3>Share with:</h3>
        </div>

        <%= simple_form_for( scan, url: share_scan_path( scan ) ) do |f| %>
        <div class="modal-body">
            <%= f.error_notification %>
                <%= f.association :users, label: '',
                                  collection: User.all - [scan.owner],
                                  as: :check_boxes %>

        </div>
        <div class="modal-footer">
            <%= f.button :submit, class: 'btn btn-small btn-primary', value: 'Share' %>
            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        <% end %>
    </div>

    <script type="text/javascript">
        // If we have a scan table then we're probably inside it and since
        // the table will keep being updated by AJAX we must move the modal dialog
        // out of it otherwise it'll keep vanishing with each AJAX refresh.

        if( refreshModal ) {
            // Move the new one out of the table.
            $( '#scans' ).parent().before( $( '#shareScan_<%= scan.id %>' ) );
        }
    </script>
<% end %>
