<% if User.count > 1 && can?( :share, scan ) %>
    <a href="#shareScan_<%= scan.id %>" title="Share scan"
       role="button" class="btn" data-toggle="modal">
        <i class="icon-share"></i>

        <% if (shared_with = scan.users.size - 1) > 0 %>
        <span title="Shared with <%= pluralize shared_with, 'more user' %>."
              class="label"><%= shared_with %></span>
        <% end %>

        <%= 'Share scan' if !local_assigns[:nolabel] %>
    </a>

    <div id="shareScan_<%= scan.id %>" class="modal hide fade"
         tabindex="-1" role="dialog">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Share with:</h3>
        </div>

        <%= simple_form_for( scan, url: share_scan_path( scan ) ) do |f| %>
        <div class="modal-body">
            <%= f.error_notification %>
                <%= f.association :users, label: '',
                                  collection: User.all - [scan.owner],
                                  as: :check_boxes, html_input: { id: 'ff' } %>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= f.button :submit, class: 'btn btn-primary', value: 'Share' %>
        </div>
        <% end %>
    </div>

    <script type="text/javascript">
        // If we have a scan table then we're probably inside it and since
        // the table will keep being updated by AJAX we must move the modal dialog
        // out of it otherwise it'll keep vanishing with each AJAX refresh.
        $( '#shareScan_<%= scan.id %>' ).each( function() {
            $( '#scans' ).parent().before( this );
        })
    </script>
<% end %>
