<div class='row'>
    <div class='span1'>
        <%
           status_label,= if @scan.paused?
                              'label-warning'
                          elsif @scan.completed?
                              'label-success'
                          elsif @scan.aborted?
                              'label-important'
                          else
                              'label-info'
                          end
        %>
        <p>
            <span class="label <%= status_label %>"><%= @scan.status.to_s.capitalize %></span>
        </p>
    </div>

    <div class="span7 progress progress-striped <%= @scan.paused? ? 'progress-warning' : 'active' %>">
        <div class="bar" style="width: <%= @scan.progress %>%;">
            <span id="progress-percentage"><%= @scan.progress %><small>%</small></span>
        </div>
    </div>

    <div class='span2'>
        <p>
            <span class="label label-inverse"><%= @scan.eta %> left</span>
        </p>
    </div>

    <div class='span2'>
        <% if can? :pause, @scan %>
            <% if @scan.paused? %>
                <%= link_to resume_scan_url( @scan ), title: 'Resume scan',
                            method: :put, class: 'btn btn-success',
                            data: { confirm: 'Are you sure you want to resume the scan?' } do %>
                    <i class=" icon-play-circle"></i>
                <% end %>

            <% else %>
                <%= link_to pause_scan_url( @scan ), title: 'Pause scan',
                            method: :put, class: 'btn btn-warning',
                            data: { confirm: 'Are you sure you want to pause the scan?' } do %>
                    <i class="icon-pause"></i>
                <% end %>
            <% end  %>
        <% end  %>

        <% if can? :abort, @scan %>
            <%= link_to abort_scan_url( @scan ), title: 'Abort scan',
                        method: :put, class: 'btn btn-danger',
                        data: { confirm: 'Are you sure you want to abort the scan?' } do %>
                <i class="icon-stop"></i>
            <% end %>
        <% end %>

        <% if @scan.owner != current_user %>
            <span class="label label-info">Started by <%= @scan.owner.name %></span>
        <% end %>
    </div>

</div>

<hr class="visible-phone" />

<a href="#statistics" data-toggle="collapse" title="Toggle statistics visibility"
   role="button" class="hidden-phone btn btn-info">
    Toggle statistics
</a>

<div class="row collapse" id="statistics">
    <div class="span12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Requests per second</th>
                <td><%= @scan.statistics['avg'] %></td>

                <th class="hidden-phone">Timed out requests</th>
                <td class="hidden-phone"><%= @scan.statistics['time_out_count'] %></td>

                <th class="hidden-phone">Requests performed</th>
                <td class="hidden-phone"><%= @scan.statistics['requests'] %></td>

                <%
                   curr_res_time_class, info = response_times_to_alert( @scan.statistics['average_res_time'] )
                %>
                <th>Response times</th>
                <td class='alert <%= curr_res_time_class %>'>
                    <abbr title="<%= info %>">
                        <%= '%.3f' % @scan.statistics['average_res_time'].to_f %>s
                    </abbr>
                </td>
            </tr>
            <tr>

                <%
                   max_concurrency_class, info = concurrent_requests_to_alert(
                           @scan.statistics['max_concurrency'],
                           @scan.profile.http_req_limit
                   )
                %>

                <th>Request concurrency</th>
                <td class='alert <%= max_concurrency_class %>'>
                    <abbr title="<%= info %>">
                        <%= @scan.statistics['max_concurrency'].to_i %>
                    </abbr>
                </td>

                <th class="hidden-phone">Responses received</th>
                <td class="hidden-phone"><%= @scan.statistics['responses'] %> </td>

                <th>Pages discovered</th>
                <td><%= @scan.sitemap_size %></td>

                <th class="hidden-phone">Running for</th>
                <td class="hidden-phone"><%= @scan.runtime %></td>

            </tr>
            </thead>
        </table>
    </div>
</div>

<% if @scan.issues.any? %>
    <hr class="hidden-phone" />
    <%= render partial: 'charts', locals: { issues: @scan.sorted_issues } %>
    <hr/>
<% end %>

<%=  render 'show_issues' %>
