<% if @scan.finished? %>

<p>
    The scan <%= @scan.aborted? ? 'was aborted after' : 'completed in' %> <%= @scan.report.delta_time %>.
</p>

<% reports_links = reports_with_outfile.map { |shortname, n| link_to n, report_scan_path( format: shortname) } %>

<p>
    Download the full report as <%= reports_links[0...-1].join( ', ' ).html_safe %> or <%= reports_links.last %>.
</p>

<hr/>

<%= render partial: 'charts', locals: { issues: @scan.report.issues } %>

<hr/>

<%=  render 'show_issues' %>

<script type="text/javascript">
    stopUpdatingScan = true
</script>

<% else %>

    <p class='alert alert-info'>
        <% if @scan.initializing? %>
        The scan is initializing, please wait...
        <% else %>
        Cleaning up and retrieving the report, please wait...
        <% end %>
    </p>

    <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
    </div>


<% end %>
