<% if @scan.finished? %>

    <% if !@scan.error? %>

        <% report_type = nil %>

        <% if @scan.aborted? %>

            <% report_type = 'partial' %>
            <p class="alert alert-warning">
            The scan was aborted after
        <% else %>
            <% report_type = 'full' %>

            <p class="alert alert-success">
                The scan completed in
        <% end %>

        <%= @scan.report.delta_time %>.
        </p>

        <% reports_links = reports_with_outfile.
                map { |shortname, n| link_to n, report_scan_path( format: shortname ) } %>

        <p class="alert alert-info hidden-desktop">
            Download the <%= report_type %> report as
            <%= reports_links[0...-1].join( ', ' ).html_safe %> or
            <%= reports_links.last %>.
        </p>

        <hr/>
    <% else %>
        <p class="alert alert-error">
            This scan encountered a fatal error and stopped, only summaries of
            the logged issues are available.
        </p>
    <% end %>

    <%= render partial: 'charts', locals: { issues: @scan.sorted_issues } %>

    <%= render partial: '/issues/table', locals: { issues: @scan.sorted_issues } %>

    <script type="text/javascript">
        $( 'ul#scan-sidebar' ).show();
        $( 'li#toggle-statistics' ).fadeOut( 'slow' );
        $( 'li#toggle-charts' ).fadeIn( 'slow' );
        $( 'li#download-report' ).fadeIn( 'slow' );
    </script>

<% else %>

    <p class='alert alert-info'>
        <% if @scan.initializing? %>
        The scan is initializing, please wait...
        <% else %>
        Cleaning up and retrieving the report, please wait...
        <% end %>
    </p>

    <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
    </div>

    <script type="text/javascript">
        $( 'ul#scan-sidebar' ).show();
        $( 'li#toggle-statistics' ).fadeOut( 'slow' );
        $( 'li#toggle-charts' ).fadeOut( 'slow' );
    </script>
<% end %>
