<% if @scan.schedule.stop_after %>
    <% if !@scan.timed_out? %>
        <div class="row-fluid">
          <% if @scan.scanning? %>
            <div class="span12 alert alert-info">
                <i class="icon-calendar"></i>

                Will <%= @scan.schedule.stop_suspend? ? 'suspend' : 'abort' %> in
                <%= Arachni::Utilities.seconds_to_hms @scan.schedule.stop_after - @scan.runtime %>.
            </div>
            <% elsif @scan.schedule.stop_suspend? %>

              <div class="span12 alert alert-warning">
                <i class="icon-calendar"></i>

                Configured to be suspended in
                <%= Arachni::Utilities.seconds_to_hms @scan.schedule.stop_after - @scan.runtime %>
                but won't do so unless the scan state is restored to "Scanning".
              </div>

        <% end %>
        </div>
    <% elsif @scan.schedule.stop_suspend? && !@scan.scanning? %>
        <div class="span12 alert alert-warning">
          <i class="icon-calendar"></i>

          The scan will suspend as soon as its state is restored to "Scanning".
        </div>
    <% end %>
<% end %>

<div class="row-fluid">
  <div class="span2">
    <div class="row-fluid">
      <div class="span12">
        <%
           status_label = if @scan.paused?
                              'label-warning'
                          elsif @scan.completed?
                              'label-success'
                          elsif @scan.aborted?
                              'label-important'
                          else
                              'label-info'
                          end
        %>
        <span class="label <%= status_label %>">
            <%= @scan.status.to_s.capitalize %>
        </span>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <% if can? :pause, @scan %>
            <% if @scan.paused? %>
                <%= link_to resume_scan_path(@scan),
                            remote: true,
                            title:  'Resume scan', method: :patch, class: 'btn btn-small btn-success',
                            data:   { confirm: 'Are you sure you want to resume the scan?' } do %>
                    <i class=" icon-play-circle"></i>
                <% end %>

            <% else %>
                <%= link_to pause_scan_path(@scan),
                            remote: true,
                            title:  'Pause scan', method: :patch, class: 'btn btn-small btn-warning',
                            data:   { confirm: 'Are you sure you want to pause the scan?' } do %>
                    <i class="icon-pause"></i>
                <% end %>
            <% end %>
        <% end %>

        <% if @scan.scanning? && @scan.spawns == 0 && can?( :suspend, @scan ) %>
            <%= link_to suspend_scan_path(@scan),
                        remote: true,
                        title:  'Suspend scan', method: :patch, class: 'btn btn-small',
                        data:   { confirm: 'Are you sure you want to suspend the scan?' } do %>
                <i class="icon-eject"></i>
            <% end %>
        <% end %>

        <% if can? :abort, @scan %>
            <%= link_to abort_scan_path(@scan),
                        remote: true,
                        title:  'Abort scan', method: :patch, class: 'btn btn-small btn-danger',
                        data:   { confirm: 'Are you sure you want to abort the scan?' } do %>
                <i class="icon-stop"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span10">
    <div class="row-fluid">

      <div class="span12 alert alert-info">
        <strong>Currently auditing:</strong>

        <ul>
          <% [@scan.statistics[:current_page] || @scan.statistics[:current_pages]].
                     flatten.compact.each do |url| %>
              <li>
                <% if url.to_s.empty? %>
                    <em>Instance idle, waiting for workload.</em>
                <% else %>
                    <%= link_to url, url %>
                <% end %>
              </li>
          <% end %>
        </ul>

        <% if @scan.messages.any? %>
            <strong>Messages:</strong>

            <ul>
            <% @scan.messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row-fluid collapse" id="statistics">
  <div class="span12">
      <table class="table table-condensed">
        <thead>
        <tr>
            <th>Pages discovered</th>
            <td><%= @scan.statistics[:found_pages] %></td>

            <th class="hidden-phone">Requests performed</th>
            <td class="hidden-phone"><%= @scan.statistics[:http][:request_count] %></td>

            <th>Requests per second</th>
            <td><%= '%.2f' % @scan.statistics[:http][:total_responses_per_second].to_f %></td>

            <%
               max_concurrency_class, info = concurrent_requests_to_alert(
                       @scan.statistics[:http][:max_concurrency],
                       @scan.profile.http_request_concurrency * @scan.instance_count
               )
            %>
            <th>Request concurrency</th>
            <td class='alert <%= max_concurrency_class %>'>
                <abbr title="<%= info %>">
                    <%= @scan.statistics[:http][:max_concurrency].to_i %>
                </abbr>
            </td>
        </tr>
        <tr>

            <th class="hidden-phone">Running for</th>
            <td class="hidden-phone"><%= Arachni::Utilities.seconds_to_hms @scan.runtime %></td>

            <th class="hidden-phone">Responses received</th>
            <td class="hidden-phone"><%= @scan.statistics[:http][:response_count] %> </td>

            <th class="hidden-phone">Timed out requests</th>
            <td class="hidden-phone"><%= @scan.statistics[:http][:time_out_count] %></td>

            <%
               curr_res_time_class, info = response_times_to_alert(@scan.statistics[:http][:total_average_response_time])
            %>
            <th>Response times</th>
            <td class="alert <%= curr_res_time_class %>">
                <abbr data-placement="bottom" title="<%= info %>">
                    <%= '%.3f' % @scan.statistics[:http][:total_average_response_time].to_f %>
                    s
                </abbr>
            </td>
        </tr>
        </thead>
      </table>
  </div>
</div>

<script type="text/javascript">
    window.setupScanCallbacks();

    $('#issues').show();
    $('#scan-sidebar').show('slow');
    $('li#toggle-statistics').fadeIn('slow');
    $('li#toggle-charts').fadeIn('slow');
    $('li#download-report').hide();
</script>
