<div class='row-fluid'>
    <div class='span2'>
        <%
           status_label = if @scan.paused?
                              'label-warning'
                          elsif @scan.completed?
                              'label-success'
                          elsif @scan.aborted?
                              'label-important'
                          else
                              'label-info'
                          end

           tooltip = case @scan.status
                         when :auditing
                             "Vectors of the web application are being audited" +
                                     " in order to determine their security status."

                         when :crawling
                             "The web application is being analyzed in an effort" +
                                     " to find all available pages and attack vectors."
                     end
        %>
        <p>
            <span class="label <%= status_label %>">
                <%= @scan.status.to_s.capitalize %>
            </span>

            <% if tooltip %>
                <a href="#" rel="tooltip" data-placement="bottom"
                   title="<%= tooltip %>">
                    <i class="icon-info-sign"></i>
                </a>
            <% end %>
        </p>
    </div>

    <div class="span6 progress-container">
        <span id="progress-percentage"><%= @scan.progress %><small>%</small></span>

        <div class="progress progress-striped <%= @scan.paused? ? 'progress-warning' : 'active' %>">
            <div class="bar" style="width: <%= @scan.progress %>%;"></div>
        </div>
    </div>

    <div class='span2'>
        <span class="label label-inverse"><%= @scan.eta %> left</span>
    </div>

    <div class="span2 pull-right">
        <% if can? :pause, @scan %>
            <% if @scan.paused? %>
                <%= link_to resume_scan_url( @scan ), remote: true,
                            title: 'Resume scan', method: :put, class: 'btn btn-success',
                            data: { confirm: 'Are you sure you want to resume the scan?' } do %>
                    <i class=" icon-play-circle"></i>
                <% end %>

            <% else %>
                <%= link_to pause_scan_url( @scan ), remote: true,
                            title: 'Pause scan', method: :put, class: 'btn btn-warning',
                            data: { confirm: 'Are you sure you want to pause the scan?' } do %>
                    <i class="icon-pause"></i>
                <% end %>
            <% end  %>
        <% end  %>

        <% if can? :abort, @scan %>
            <%= link_to abort_scan_url( @scan ), remote: true,
                        title: 'Abort scan', method: :put, class: 'btn btn-danger',
                        data: { confirm: 'Are you sure you want to abort the scan?' } do %>
                <i class="icon-stop"></i>
            <% end %>
        <% end %>
    </div>

</div>

<div class="row-fluid collapse" id="statistics">
    <div class="span12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Requests per second</th>
                <td><%= @scan.statistics['avg'] %></td>

                <th class="hidden-phone">Timed out requests</th>
                <td class="hidden-phone"><%= @scan.statistics['time_out_count'] %></td>

                <th class="hidden-phone">Requests performed</th>
                <td class="hidden-phone"><%= @scan.statistics['requests'] %></td>

                <%
                   curr_res_time_class, info = response_times_to_alert( @scan.statistics['average_res_time'] )
                %>
                <th>Response times</th>
                <td class="alert <%= curr_res_time_class %>">
                    <abbr data-placement="bottom" title="<%= info %>">
                        <%= '%.3f' % @scan.statistics['average_res_time'].to_f %>s
                    </abbr>
                </td>
            </tr>
            <tr>

                <%
                   max_concurrency_class, info = concurrent_requests_to_alert(
                           @scan.statistics['max_concurrency'],
                           @scan.profile.http_req_limit
                   )
                %>

                <th>Request concurrency</th>
                <td class='alert <%= max_concurrency_class %>'>
                    <abbr title="<%= info %>">
                        <%= @scan.statistics['max_concurrency'].to_i %>
                    </abbr>
                </td>

                <th class="hidden-phone">Responses received</th>
                <td class="hidden-phone"><%= @scan.statistics['responses'] %> </td>

                <th>Pages discovered</th>
                <td><%= @scan.sitemap_size %></td>

                <th class="hidden-phone">Running for</th>
                <td class="hidden-phone"><%= @scan.runtime %></td>

            </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready( function( $ ) {
        window.setupScanCallbacks();

        $( '#edit-description-btn' ).show();
        $( '#issues' ).show();
        $( '#scan-sidebar' ).show( 'slow' );
        $( 'li#toggle-statistics' ).fadeIn( 'slow' );
        $( 'li#toggle-charts' ).fadeIn( 'slow' );
        $( 'li#download-report' ).hide();
    });
</script>
