<%
   treat_as_running = local_assigns[:treat_as_running].nil? ? true : false

   show_revision_legend, show_error_legend, show_aborted_legend = false

   filter = "filter_#{type}"
   opts = params.dup
   opts.delete( :format )

   yours = (params[filter] == 'yours')
%>

<ul class="nav nav-tabs" id="scan-table-tab"
    data-table-container="<%= type %>-table-container">

    <% if @counts[type.to_sym]['yours'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-user"></i>
                Yours <small>[<%= @counts[type.to_sym]['yours'] %>]</small>
            </a>
        </li>
    <% else %>
    <li
        <% if yours %>
           class="active"
        <% end %>
        >

        <%= link_to scans_path( opts.merge( filter => 'yours' ) ),
                    onclick: 'loading();', remote: true do %>
            <i class="icon-user"></i>
            Yours <small>[<%= @counts[type.to_sym]['yours'] %>]</small>
        <% end %>
    </li>
    <% end %>

    <% if @counts[type.to_sym]['shared'] == 0 %>
        <li class="disabled">
            <a href="#">
                <i class="icon-share-alt"></i>
                Shared <small>[<%= @counts[type.to_sym]['shared'] %>]</small>
            </a>
        </li>
    <% else %>

    <li
        <% if params[filter] == 'shared' %>
        class="active"
        <% end %>

        >
        <%= link_to scans_path( opts.merge( filter => 'shared' ) ),
                    onclick: 'loading();', remote: true do %>
            <i class="icon-share-alt"></i>
            Shared <small>[<%= @counts[type.to_sym]['shared'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if current_user.admin? %>

        <% if @counts[type.to_sym]['others'] == 0 %>
            <li class="disabled">
                <a href="#">
                    <i class="icon-group"></i>
                    Others' <small>[<%= @counts[type.to_sym]['others'] %>]</small>
                </a>
            </li>
        <% else %>
            <li
            <% if params[filter] == 'others' %>
            class="active"
            <% end %>
            >
                <%= link_to scans_path( opts.merge( filter => 'others' ) ),
                            onclick: 'loading();', remote: true do %>
                    <i class="icon-group"></i>
                    Others' <small>[<%= @counts[type.to_sym]['others'] %>]</small>
            <% end %>
            </li>
        <% end %>
    <% end %>
</ul>

<% if scans.any? %>

<div id="<%= type %>-table-container">

    <% if treat_as_running && params[filter] =='yours' %>
        <% if current_user.own_scans.paused.any? %>
            <%= link_to resume_scans_path, title: 'Resume all scans',
                        method: :patch, class: 'btn btn-small btn-success',
                        remote: true,
                        data: { confirm: 'Are you sure you want to resume all scans?' } do %>
                <i class="icon-play-circle"></i>
            <% end %>
        <% end %>

        <% if current_user.own_scans.running.any? %>
            <%= link_to pause_scans_path, title: 'Pause all scans',
                        method: :patch, class: 'btn btn-small btn-warning',
                        remote: true,
                        data: { confirm: 'Are you sure you want to pause all scans?' } do %>
                <i class="icon-pause"></i>
            <% end %>
        <% end %>

        <% if current_user.own_scans.active.any? %>
            <%= link_to abort_scans_path, title: 'Abort all scans',
                        method: :patch, class: 'btn btn-small btn-danger',
                        remote: true,
                        data: { confirm: 'Are you sure you want to abort all scans?' } do %>
                <i class="icon-stop"></i>
            <% end %>
        <% end %>
    <% end %>

    <p class="muted">
    <%=
        case params[filter]
            when 'yours'
                "You are seeing scans you've started."
            when 'shared'
                "You are seeing scans others have shared with you."
            when 'others'
                "You are seeing all others' scans -- you can see them because you're an administrator."
        end
    %>
    </p>

    <%= my_paginate scans, remote: true, param_name: type + '_page' %>

    <table class="table table-striped table-hover table-condensed">
        <%= render partial: 'table_headings', locals: {
                treat_as_running:   treat_as_running,
                yours:              yours,
                type:               type
        } %>

        <% scans.each do |scan| %>
            <% next if !treat_as_running && scan.revision? %>

            <tr <%= if scan.aborted?
                        show_aborted_legend = true
                    elsif scan.error?
                        show_error_legend = true
                    end
                %>
            >

            <%= render partial: 'table_row',
                       locals: { scan: scan, treat_as_running: treat_as_running, type: type } %>
        <% end %>
    </table>

    <% if show_aborted_legend || show_error_legend %>
        <div class="alert alert-info">
            <ul>
                <% if show_revision_legend %>
                    <li>Blue rows indicate repeated/revised scans.</li>
                <% end %>

                <% if show_aborted_legend %>
                <li>Yellow rows indicate aborted scans.</li>
                <% end %>

                <% if show_error_legend %>
                <li>Red rows indicate scans which have stopped due to a fatal
                    error (i.e. the scan Instance suddenly died).</li>
                <% end %>
            </ul>
        </div>
    <% end %>

</div>
    <% else %>
    <p class="alert alert-info">
        There are no scans in the '<%= params[filter].to_s.capitalize %>'
        category at the moment.
    </p>
<% end %>

<script type="text/javascript">
    updatePage();
</script>
