<% treat_as_running = local_assigns[:treat_as_running].nil? ? true : false %>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>URL</th>

        <% if treat_as_running %>
        <th>Status</th>
        <th>Progress</th>
        <% end %>

        <th>Issue count</th>

        <% if treat_as_running %>
        <th>Sitemap size</th>
        <th>Running for</th>
        <th>ETA</th>
        <% else %>
        <th>Started at</th>
        <th>Finished at</th>
        <% end %>

        <th>Started by</th>
        <th>Comments</th>
        <th></th>
    </tr>
    </thead>

    <% scans.each do |scan| %>
        <tr <%= if scan.paused?
                    'class="warning"'.html_safe
                elsif scan.aborted?
                    'class="error"'.html_safe
                end
            %>
        >
            <td><%= scan.url %></td>

            <% if treat_as_running %>
            <td><%= scan.status.to_s.capitalize %></td>
            <td><%= scan.progress.to_f %>%</td>
            <% end %>

            <td><%= scan.issue_count %></td>

            <% if treat_as_running %>
            <td><%= scan.sitemap_size %></td>
            <td><%= scan.runtime %></td>
            <td><%= scan.eta %></td>
            <% else %>
            <td><%= l scan.created_at %></td>
            <td><%= l scan.finished_at %></td>
            <% end %>

            <td>
                <% if scan.owner == current_user %>
                    <span class="label">You</span>
                <% else %>
                    <span class="label label-info"><%= scan.owner.name %></span>
                <% end %>
            </td>

            <td><%= (cs = scan.comments.size) > 1 ? cs : 'None yet' %></td>

            <td>
                <%= link_to scan, title: 'Show scan', class: 'btn btn-info' do %>
                    <i class="icon-eye-open"></i>
                <% end %>

                <% if scan.active? %>
                    <% if scan.owner == current_user %>
                        <% if scan.paused? %>
                            <%= link_to resume_scan_url( scan ), title: 'Resume scan',
                                        method: :put, class: 'btn btn-success',
                                        data: { confirm: 'Are you sure you want to resume the scan?' } do %>
                                <i class=" icon-play-circle"></i>
                            <% end %>

                        <% else %>
                            <%= link_to pause_scan_url( scan ), title: 'Pause scan',
                                        method: :put, class: 'btn btn-warning',
                                        data: { confirm: 'Are you sure you want to pause the scan?' } do %>
                                <i class="icon-pause"></i>
                            <% end %>
                        <% end  %>

                        <%= link_to abort_scan_url( scan ), title: 'Abort scan',
                                    method: :put, class: 'btn btn-danger',
                                    data: { confirm: 'Are you sure you want to abort the scan?' } do %>
                            <i class="icon-stop"></i>

                        <% end %>

                        <%= render partial: 'share_form', locals: { scan: scan, nolabel: true } %>

                    <% end %>
                <% else %>
                    <% if scan.owner == current_user %>
                        <%= link_to scan, title: 'Delete scan', method: :delete, class: 'btn btn-danger',
                                    data: { confirm: 'Are you sure you want to delete this scan?' } do %>
                            <i class="icon-trash"></i>
                        <% end %>
                        <%= render partial: 'share_form', locals: { scan: scan, nolabel: true } %>
                    <% end %>
            <% end %>
            </td>
        </tr>
    <% end %>
</table>
