<% if @group %>
    <p>
        You are seeing scans of the <strong><%= @group.name %></strong> group:
    </p>

    <blockquote>
        <%= m @group.description %>

        <% if @group.owner != current_user %>
            <small><%= @group.owner %></small>
        <% end %>
    </blockquote>

    <p>
        Members:
        <%= @group.users.map { |u| link_to u, user_path( u ) }.join( ', ' ).html_safe %>
    </p>
    <hr/>
<% end %>

<h2>Active
    <small>[<%= @counts[:active]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @active_scans } %>


<h2>Finished
    <small>[<%= @counts[:finished]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @finished_scans, treat_as_running: false } %>
