<% treat_as_running = local_assigns[:treat_as_running].nil? ? true : false %>

<%
   show_aborted_legend = false
   show_error_legend   = false

   type = (treat_as_running ? 'active' : 'finished')
   filter = "filter_#{type}"
   opts = params.merge( format: :js )

   yours = (params[filter] == 'yours')
%>

<ul class="nav nav-tabs" id="scan-table-tab"
    data-table-container="<%= type %>-table-container">

    <% if @counts[type.to_sym]['yours'] == 0 %>
        <li class="disabled">
            <a href="#">
                Yours <small>[<%= @counts[type.to_sym]['yours'] %>]</small>
            </a>
        </li>
    <% else %>
    <li
        <% if yours %>
           class="active"
        <% end %>
        >

        <%= link_to scans_url( opts.merge( filter => 'yours' ) ),
                    onclick: 'scanTableLoading();', remote: true do %>
            Yours <small>[<%= @counts[type.to_sym]['yours'] %>]</small>
        <% end %>
    </li>
    <% end %>

    <% if @counts[type.to_sym]['shared'] == 0 %>
        <li class="disabled">
            <a href="#">
                Shared <small>[<%= @counts[type.to_sym]['shared'] %>]</small>
            </a>
        </li>
    <% else %>

    <li
        <% if params[filter] == 'shared' %>
        class="active"
        <% end %>

        >
        <%= link_to scans_url( opts.merge( filter => 'shared' ) ),
                    onclick: 'scanTableLoading();', remote: true do %>
                    Shared <small>[<%= @counts[type.to_sym]['shared'] %>]</small>
            <% end %>
        </li>
    <% end %>

    <% if current_user.admin? %>

        <% if @counts[type.to_sym]['others'] == 0 %>
            <li class="disabled">
                <a href="#">
                    Others <small>[<%= @counts[type.to_sym]['others'] %>]</small>
                </a>
            </li>
        <% else %>
            <li
            <% if params[filter] == 'others' %>
            class="active"
            <% end %>
            >
                <%= link_to scans_url( opts.merge( filter => 'others' ) ),
                            onclick: 'scanTableLoading();', remote: true do %>
                    Others <small>[<%= @counts[type.to_sym]['others'] %>]</small>
            <% end %>
            </li>
        <% end %>
    <% end %>
</ul>

<% if scans.any? %>

<div id="<%= type %>-table-container">
    <p class="muted">
    <%=
        case params[filter]
            when 'yours'
                "You are seeing scans you've started."
            when 'shared'
                "You are seeing scans others have shared with you."
            when 'others'
                "You are seeing all others' scans -- you can see them because you're an administrator."
        end
    %>
    </p>

    <%= my_paginate scans, param_name: type + '_page' %>

    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>URL</th>
            <th class="hidden-phone">Profile</th>
            <th class="hidden-phone">Type</th>

            <% if treat_as_running %>
            <th class="hidden-phone">Status</th>
            <th>Progress</th>
            <% end %>

            <th>Issue count</th>

            <% if treat_as_running %>
            <th class="hidden-phone">Sitemap size</th>
            <th class="hidden-phone">Running for</th>
            <th <%= 'class="hidden-phone"'.html_safe if !yours %>>
                ETA
            </th>
            <% else %>
            <th class="hidden-phone">Started at</th>
            <th <%= 'class="hidden-phone"'.html_safe if !yours %>>
                Finished at</th>
            <% end %>

            <% if !yours %>
            <th>Owner</th>
            <% end %>

            <th class="hidden-phone">Comments</th>
            <th></th>
        </tr>
        </thead>

        <% scans.each do |scan| %>
            <tr <%= if scan.paused?
                        'class="warning" title="Scan is paused."'.html_safe
                    elsif scan.aborted?
                        show_aborted_legend = true
                        'class="warning" title="Scan was aborted."'.html_safe
                    elsif scan.error?
                        show_error_legend = true
                        'class="error" title="Scan encountered a fatal error."'.html_safe
                    end
                %>
            >
                <td>
                    <% if can? :read, scan %>
                        <% if !scan.error_messages.to_s.empty? %>
                            <%= link_to errors_scan_url( scan, format: :txt ),
                                        title: 'This scan has encountered errors',
                                        class: 'label label-important' do %>
                                <i class="icon-exclamation-sign icon-white"></i>
                            <% end %>
                        <% end %>
                    <% end %>

                    <%= scan.url %>
                </td>
                <td class="hidden-phone"><%= link_to scan.profile.name, scan.profile %></td>
                <td class="hidden-phone">
                    <%= scan.type.to_s.capitalize %>
                    <% if scan.dispatcher %>
                    (<%= link_to scan.dispatcher.url, scan.dispatcher %>)
                    <% end %>
                </td>

                <% if treat_as_running %>
                <td class="hidden-phone"><%= scan.status.to_s.capitalize %></td>
                <td><%= scan.progress.to_f %>%</td>
                <% end %>

                <td><%= scan.issue_count %></td>

                <% if treat_as_running %>
                <td class="hidden-phone"><%= scan.sitemap_size %></td>
                <td class="hidden-phone"><%= scan.runtime %></td>
                <td <%= 'class="hidden-phone"'.html_safe if !yours %>>
                    <%= scan.eta %>
                </td>
                <% else %>
                <td class="hidden-phone"><%= l scan.created_at %></td>
                <td <%= 'class="hidden-phone"'.html_safe if !yours %>>
                    <%= scan.finished_at ? l( scan.finished_at ) : 'N/A' %>
                </td>
                <% end %>

                <% if !yours %>
                <td>
                    <% if scan.owner == current_user %>
                        <span class="label">You</span>
                    <% else %>
                        <span class="label label-info"><%= scan.owner.name %></span>
                    <% end %>
                </td>
                <% end %>

                <td class="hidden-phone"><%= (cs = scan.comments.size) > 1 ? cs : 'None yet' %></td>

                <td>
                    <% if can? :read, scan %>
                    <%= link_to scan, title: 'Show scan', class: 'btn btn-info' do %>
                        <i class="icon-eye-open"></i>
                    <% end %>
                    <% end %>

                    <% if scan.active? %>
                        <% if can? :pause, scan %>
                            <% if scan.paused? %>
                                <%= link_to resume_scan_url( scan ), title: 'Resume scan',
                                            method: :put, class: 'btn btn-success',
                                            data: { confirm: 'Are you sure you want to resume the scan?' } do %>
                                    <i class="icon-play-circle"></i>
                                <% end %>

                            <% else %>
                                <%= link_to pause_scan_url( scan ), title: 'Pause scan',
                                            method: :put, class: 'btn btn-warning',
                                            data: { confirm: 'Are you sure you want to pause the scan?' } do %>
                                    <i class="icon-pause"></i>
                                <% end %>
                            <% end  %>
                        <% end  %>

                        <% if can? :abort, scan %>
                            <%= link_to abort_scan_url( scan ), title: 'Abort scan',
                                        method: :put, class: 'btn btn-danger',
                                        data: { confirm: 'Are you sure you want to abort the scan?' } do %>
                                <i class="icon-stop"></i>

                            <% end %>

                            <%= render partial: 'share_form', locals: { scan: scan, nolabel: true } %>

                        <% end %>
                    <% else %>
                        <% if can? :delete, scan %>
                            <%= link_to scan, title: 'Delete scan', method: :delete, class: 'btn btn-danger',
                                        data: { confirm: 'Are you sure you want to delete this scan?' } do %>
                                <i class="icon-trash"></i>
                            <% end %>
                            <%= render partial: 'share_form', locals: { scan: scan, nolabel: true } %>
                        <% end %>
                <% end %>
                </td>
            </tr>
        <% end %>
    </table>

    <% if show_aborted_legend || show_error_legend %>
        <div class="alert alert-info">
            <ul>
                <% if show_aborted_legend %>
                <li>Yellow rows indicate aborted scans.</li>
                <% end %>
                <% if show_error_legend %>
                <li>Red rows indicate scans which have stopped due to a fatal
                    error (i.e. the scan Instance suddenly died).</li>
                <% end %>
            </ul>
        </div>
    <% end %>

</div>
    <% else %>
    <p class="alert alert-info">
        There are no scans in the '<%= params[filter].to_s.capitalize %>'
        category at the moment.
    </p>
<% end %>
