<%
   show_as_revision ||= false

   filter = "filter_#{type}"

   yours = (params[filter] == 'yours')

   class_if_revision = !treat_as_running && (show_as_revision || scan.revision?) ? 'revision' : ''
   class_if_revision << ' root-with-revisions' if scan.root_with_revisions?
%>

<tr <%= if scan.paused?
            "class=\"warning #{class_if_revision}\" title=\"Scan is paused.\"".html_safe
        elsif scan.aborted?
            "class=\"warning #{class_if_revision}\" title=\"Scan was aborted.\"".html_safe
        elsif scan.error?
            "class=\"error #{class_if_revision}\" title=\"Scan encountered a fatal error.\"".html_safe
        else
            "class=\"#{class_if_revision}\"".html_safe
        end
    %>

    <% if scan.root_with_revisions? %>
        <%= "onclick=\"$('#revision-table-container-#{scan.id}').collapse('toggle')\"".html_safe %>
    <% end %>
>

    <% if !treat_as_running && show_as_revision %>
        <td>
            &mdash;
        </td>
    <% end %>

    <td>
        <% if can? :read, scan %>
            <% if !scan.error_messages.to_s.empty? %>
                <%= link_to errors_scan_path( scan, format: :txt ),
                            title: 'This scan has encountered errors.',
                            class: 'label label-important',
                            rel: 'tooltip', data: { placement: 'left' } do %>
                    <i class="icon-exclamation-sign icon-white"></i>
                <% end %>
            <% end %>
        <% end %>

        <% if !show_as_revision %>
            <% if scan.any_scheduled? %>
                <a href="#"
                   rel="tooltip" class="label label-info"
                   data-original-title="Scheduled">
                    <i class="icon-calendar"></i>
                </a>
            <% end %>

            <% if scan.any_recurring? %>
                <a href="#"
                   rel="tooltip" class="label label-info"
                   data-original-title="Recurring">
                    <i class="icon-time"></i>
                </a>
            <% end %>

            <% if treat_as_running && scan.revision? %>
                <a href="#"
                   rel="tooltip" class="label label-info"
                   data-original-title="Revision">
                    <i class="icon-repeat"></i>
                </a>
            <% end %>

            <% if scan.root_with_revisions? %>
                <a href="#revision-table-container-<%= scan.id %>"
                   data-toggle="collapse"
                   rel="tooltip" class="label label-info"
                   data-original-title="Has revisions, click to toggle visibility.">
                    <i class="icon-repeat"></i>
                    <i class="icon-sort-down"></i>
                </a>
            <% end %>
        <% end %>

        <%= link_to scan.url, scan.url %>
    </td>
    <td class="hidden-phone">
        <% if scan.profile %>
            <%= link_to scan.profile.name, scan.profile %>
        <% else %>
            (Deleted)
        <% end %>
    </td>
    <td class="hidden-phone">
        <% if (!show_as_revision && scan.has_revisions?) %>
        N/A
        <% else %>
            <%= scan.type.to_s.capitalize %>
            <% if scan.dispatcher %>
                (<%= link_to scan.dispatcher.url, scan.dispatcher %>)
            <% end %>
        <% end %>
    </td>

    <% if treat_as_running %>
        <td class="hidden-phone"><%= scan.status.to_s.capitalize %></td>
    <% end %>

    <td>
        <%= !show_as_revision && scan.has_revisions? ? scan.revisions_issue_count : scan.issue_count %>
    </td>

    <% if treat_as_running %>
        <td class="hidden-phone"><%= scan.sitemap_size %></td>
        <td class="hidden-phone"><%= Arachni::Utilities.seconds_to_hms scan.runtime %></td>
    <% else %>
        <td class="hidden-phone">
            <% if !show_as_revision && scan.has_revisions? %>
                N/A
            <% else %>
                <%= l scan.started_at %>
            <% end %>
        </td>

        <td <%= 'class="hidden-phone"'.html_safe if !yours %>>
            <% if scan.suspended? %>
              <%= l scan.suspended_at %>
            <% else %>
                <% if (!show_as_revision && scan.has_revisions?) || !scan.finished_at %>
                    N/A
                <% else %>
                    <%= l scan.finished_at %>
                <% end %>
            <% end %>
        </td>
    <% end %>

    <% if !yours %>
        <td>
            <% if scan.owner == current_user %>
                <span class="label">You</span>
            <% else %>
                <%= link_to scan.owner, user_path( scan.owner ) %>
            <% end %>
        </td>
    <% end %>

    <td class="hidden-phone">
        <% if !show_as_revision && scan.has_revisions? %>
            N/A
        <% else %>
            <%= (cs = scan.comments.size) > 1 ? cs : 'None yet' %>
        <% end %>
    </td>

    <td>
        <%= render partial: 'table_buttons',
                   locals: {
                           scan:             scan,
                           treat_as_running: treat_as_running,
                           show_as_revision: show_as_revision
                   } %>
    </td>
</tr>

<% if !show_as_revision && scan.root_with_revisions? %>
    <tr class="revision-table-container">
        <td class="revision-table-container" colspan="8">
            <div id='revision-table-container-<%= scan.id %>' class="collapse">
                <table class="table table-striped table-hover table-condensed">

                    <%= render partial: 'table_headings', locals: {
                            treat_as_running:   treat_as_running,
                            contains_revisions: true,
                            yours:              yours,
                            type:               type
                    } %>

                    <% scan.revisions_with_root.finished.each do |revision| %>
                        <%= render partial: 'table_row',
                                   locals: {
                                        scan:             revision,
                                        treat_as_running: treat_as_running,
                                        show_as_revision: true,
                                        type:             type
                                   } %>
                    <% end %>
                </table>
            </div>
        </td>
    </tr>
<% end %>
