<h2>Active
    <small>[<%= @counts[:active]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @active_scans, type: 'active' } %>


<h2>Finished
    <small>[<%= @counts[:finished]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @finished_scans, treat_as_running: false, type: 'finished' } %>

<h2>Suspended
  <small>[<%= @counts[:suspended]['total'] %>]</small>
</h2>
<%= render partial: 'table', locals: { scans: @suspended_scans, treat_as_running: false, type: 'suspended' } %>
