<% title "Scans" %>

<% add_to_sidebar do %>
    <div id="scan-groups-sidebar">
        <%= render 'scan_groups/form_with_list' %>
    </div>
<% end %>

<div id="scans">
    <div class="page-header">
        <h1>Scans</h1>

        <div class="lead">
            Start, manage and stay up to date on your scans.
        </div>
    </div>

    <p>
        <%= link_to new_scan_path, class: 'btn btn-primary' do %>
            <i class="icon-plus"></i> New Scan
        <% end %>

        <%= link_to schedule_scans_path, class: 'btn btn-inverse' do %>
            <i class="icon-calendar"></i> Schedule
        <% end %>

          <a href="#scan-import" title="Import a scan via a report"
             role="button" class="btn btn-inverse" data-toggle="modal">
            <i class="icon-upload-alt"></i> Import
        </a>

      <%= render partial: 'import' %>
    </p>

    <div id="revision-form-modal" class="modal hide fade"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>

    <div id="tables"
         data-refresh-url="<%= scans_path( format: :js, params: params ) %>"
         data-refresh-rate="<%= HardSettings.scan_refresh_rate %>"
         data-refresh-type='js'
    >
        <%= render 'tables' %>
    </div>

</div>
