<% title "Repeat scan for #{@scan}" %>
<% breadcrumb_add 'Scans', scans_path %>

<div id="scans">
    <h2>Repeat scan for <%= @scan.to_s %></h2>

    <%= simple_form_for( @scan, url: repeat_scan_path( @scan ), method: :post ) do |f| %>
        <%= f.error_notification %>

        <div class="row-fluid">
            <div class="span6">
                <%= f.input :description, label: false, placeholder: 'Description',
                            hint: 'You can use Markdown for text formatting.' %>
            </div>

            <div class="span6">
                <div class="control-group radio_buttons optional">
                    <div class="controls">
                        <p>
                            Use sitemaps of previous revisions:
                        </p>
                        <p>
                            <input id="scan_restrict_to_revision_sitemaps"
                                   class="radio_buttons optional"
                                   type="radio"
                                   value="restrict_to_revision_sitemaps"
                                   name="scan[sitemap_option]"
                                   <%= 'checked' if @scan.restrict_to_revision_sitemaps? %>
                            >

                            <label for="scan_restrict_to_revision_sitemaps"
                                   class="radio_buttons optional control-label">
                                instead of crawling
                            </label>
                        </p>
                        <p>
                            <input id="scan_extend_from_revision_sitemaps"
                                   class="radio_buttons optional"
                                   type="radio"
                                   value="extend_from_revision_sitemaps"
                                   name="scan[sitemap_option]"
                                   <%= 'checked' if @scan.extend_from_revision_sitemaps? %>
                            >

                            <label for="scan_extend_from_revision_sitemaps"
                                   class="radio_buttons optional control-label">
                                in addition to crawling
                            </label>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <%= f.input :type, as: :hidden, default: 'direct' %>

        <%= render partial: 'form_advanced_options', locals: { f: f, show_crawl_options: false } %>

        <%= f.button :submit, class: 'btn btn-inverse', value: 'Rescan' %>
    <% end %>
</div>
