<% title @scan.url %>
<% breadcrumb_add 'Scans', scans_path %>

<%
   overview = params[:action] == 'overview'
%>

<% add_to_sidebar do %>
    <div id="scan-sidebar" class="hide">
        <ul class="nav nav-list">
            <li class="nav-header">
                Toggle visibility of
            </li>
            <li>
                <a class="toggle-comments" data-toggle="collapse"
                   href="#comments">
                    <i class="icon-comments"></i>

                    <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                          class="label hide total-comments-counter">
                        <%= @scan.comments.size %>
                    </span>

                    <span title="The scan has new comments."
                          class="hide label label-info new-comments-counter">
                    </span>

                    Comments
                </a>
            </li>

            <li id="toggle-statistics" class="hide">
                <a href="#statistics" data-toggle="collapse"
                   title="Toggle statistics visibility" role="button">
                    <i class="icon-list-alt"></i>

                    Statistics
                </a>
            </li>

            <li id="toggle-charts" class="hide">
                <a href="#graphs" onclick="toggleCharts();"
                   title="Toggle chart visibility" role="button">
                    <i class="icon-bar-chart"></i>

                    Charts
                </a>
            </li>
        </ul>

        <% if @scan.root_revision.has_revisions? %>
            <div id="revisions-nav-list">
                <%= render 'revisions_nav_list' %>
            </div>
        <% end %>

        <ul class="nav nav-list">
            <li class="divider"></li>

            <li class="nav-header">
                Actions
            </li>

            <% if User.count > 1 && can?( :share, @scan ) %>
            <li>
                <a href="#shareScan_<%= @scan.id %>" title="Share scan"
                   role="button" data-toggle="modal">
                    <i class="icon-share"></i>

                    <% if (shared_with = @scan.users.size - 1) > 0 %>
                      <span title="Shared with <%= pluralize shared_with, 'more user' %>."
                      class="label"><%= shared_with %></span>
                    <% end %>

                    Share
                </a>
            </li>
            <% end %>

            <% if !@scan.overview? %>
                <li id="download-report" class="hide">
                    <i class="icon-download-alt"></i>
                    Download report as:

                    <% reports_links = reports_with_outfile.map { |shortname, n| link_to n, report_scan_path( format: shortname) } %>

                    <ul class="nav nav-list">
                        <% reports_links.each do |l| %>
                        <li>
                            <%= l %>
                        </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>

<script type="text/javascript">
    var scanIsActive = true;
</script>

<div id="scans">

    <div class="page-header">
        <% if @scan.owner != current_user %>
            <span class="label label-info pull-right">Started by <%= @scan.owner.name %></span>
        <% end %>

        <% purl = @scan.parsed_url %>
        <h1>
            <%= "#{purl.scheme}://#{purl.host}" %><%= ":#{purl.port}" if purl.port %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small>
        </h1>

        <% if !@scan.description.to_s.empty? %>
        <div class="lead"><%= m @scan.description %></div>
        <% end %>
    </div>

    <div class="hidden-desktop pull-left">
        <%= render partial: 'share_form', locals: { scan: @scan } %>
    </div>

    <div class="hidden-desktop">
        <a class="toggle-comments btn" data-toggle="collapse"
           href="#comments">
            <i class="icon-comments"></i>

            <% if @scan.comments.any? %>
                <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                      class="label total-comments-counter"><%= @scan.comments.size %></span>
            <% end %>

            <span title="The scan has new comments."
                  class="hide label label-info new-comments-counter"></span>

            Toggle comments
        </a>
    </div>

    <div id="comments" class="accordion-body collapse">
        <div class="well">
            <%= render partial: 'comments/list',
                       locals: { comments: @scan.comments,
                                 list_url: scan_comments_url( @scan, partial: true )
                       } %>

            <%= render partial: 'comments/form', locals: { commentable: @scan } %>
        </div>
    </div>

    <div id="scan">
        <%= render @scan %>
    </div>

    <div id="issues" class="hide"
         data-refresh-url="<%= scan_issues_url( @scan, format: :js,
                                                overview: params[:action] == 'overview',
                                                partial: true ) %>"
         data-refresh-rate="<%= Settings.scan_refresh_rate %>" data-refresh-type="js">
    </div>
</div>

<script type="text/javascript">
    setInterval( function(){
        // Active scans have to refresh the stats, graphs and issues table
        // while finished scans only need to refresh their issues table,
        // which can be handled by the issue table partial itself.
        if( !scanIsActive ) return;

        $.get( '<%= scan_url( @scan, partial: true ) %>', function( data ){
                    $('#scan').html( data );
                    updatePage();
                },
                'html' )
    }, <%= Settings.scan_refresh_rate %> );
</script>
