<% title @scan.url %>
<% breadcrumb_add 'Scans', scans_path %>

<% add_to_sidebar do %>
    <div id="scan-sidebar" class="hide">
        <%= render partial: 'scan_sidebar' %>
    </div>
<% end %>

<div id="scans">
    <div class="page-header">
        <% if @scan.owner != current_user %>
            <span class="pull-right muted">
                Started by <%= link_to @scan.owner, user_path( @scan.owner ) %>
            </span>
        <% end %>

        <% purl = @scan.parsed_url %>
        <h1>
            <%= "#{purl.scheme}://#{purl.host}" %><%= ":#{purl.port}" if purl.port %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small>
        </h1>

        <div id="editable-description">
            <%= render partial: 'editable_description' %>
        </div>
    </div>

    <div class="visible-phone pull-left">
        <%= render partial: 'shared/share_form', locals: { model: @scan } %>
        <%= render partial: 'scan_group_form', locals: { scan: @scan } %>
        <%= render partial: 'scan_schedule_form', locals: { scan: @scan } %>
    </div>

    <div class="visible-phone">
        <a class="toggle-comments btn btn-small" data-toggle="collapse"
           href="#comments">
            <i class="icon-comments"></i>

            <% if @scan.comments.any? %>
                <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                      class="label total-comments-counter"><%= @scan.comments.size %></span>
            <% end %>

            <span title="The scan has new comments."
                  class="hide label label-info new-comments-counter"></span>

            Toggle comments
        </a>

        <hr/>
    </div>

    <div id="comments" class="accordion-body collapse">
        <%= render partial: 'comments' %>
    </div>

    <div id="error-messages-container" <%= 'class="hide"'.html_safe if @scan.error_messages.empty? %> >
        <p class="alert alert-error">
            <i class="icon-exclamation-sign"></i>

            This scan has the logged the following
            <%= link_to 'errors', errors_scan_path( @scan, format: :txt ) %>
            (if something looks like a bug feel free to
            <a target="_blank" href="https://github.com/Arachni/arachni/issues">report</a> it):
        </p>

        <pre id="error-messages"></pre>
    </div>

    <div id="scan">
      <% if @scan.suspended? %>
          <%= render 'show_suspended' %>
      <% else %>
        <%= render @scan.active? ? 'show_active' : 'show_inactive' %>
      <% end %>
    </div>

    <div class="row-fluid">
        <div class="span12" id='issues'>
            <%= render partial: 'issues/table.html', locals: { url_method_type: :scan_path } %>
        </div>
    </div>

</div>

<% if Settings.scan_auto_refresh? %>
    <div id="updater"
         data-refresh-url="<%= scan_path( @scan, params.merge( format: :js ) ) %>"
         data-refresh-rate="<%= HardSettings.scan_refresh_rate %>"
         data-refresh-type="js">
    </div>
<% end %>
