<% title @scan.url %>
<% breadcrumb_add 'Scans', scans_path %>

<script type="text/javascript">
    var stopUpdatingScan = false;
</script>

<div id="scans">

    <% purl = @scan.parsed_url %>
    <h1><%= "#{purl.scheme}://#{purl.host}" %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small></h1>

    <% if @scan.owner == current_user %>
        <%=  render partial: 'share_form', locals: { scan: @scan } %>
    <% end %>

    <a id="toggle-comments-button" class="btn" data-toggle="collapse"
       href="#scan<%= @scan.id %>-comments-list">
        <i class="icon-comment"></i>

        <% if @scan.comments.any? %>
            <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                  id="total-comments-counter" class="label"><%= @scan.comments.size %></span>
        <% end %>

        <span id="new-comments-counter" title="The scan has new comments."
              class="hide label label-info"></span>

        Toggle comments
    </a>

    <%= render partial: 'comment_form', locals: { scan: @scan } %>

    <hr />

    <div id="scan">
        <%= render @scan %>
    </div>

    <%= link_to 'Back', scans_path %>
</div>

<script type="text/javascript">

    initialCommentCount = $('#scan #comments #comment').size();
    setInterval( function(){
        if( !stopUpdatingScan ) {
            url = '<%= partial_scan_url( @scan ) %>';
            elementToBeUpdated = $( '#scan' );
        } else {
            url = '<%= comments_scan_url( @scan ) %>';
            elementToBeUpdated = $( '#scan #comments' );
        }

        $.get( url, function( data ){
                    wasOpen = $('#comments-list').hasClass( 'in' );
                    elementToBeUpdated.html( data );
                    newCommentsCount = $('#scan #comments #comment').size() - initialCommentCount;

                    if( newCommentsCount >0 && !wasOpen ){
                        $('#new-comments-counter' ).html( '+' + newCommentsCount );
                        $('#new-comments-counter').show();
                    }

                    window.restoreAccordion();
                },
                'html' )
    }, <%= Settings.scan_refresh_rate %> );
</script>
