<% title @scan.url %>
<% breadcrumb_add 'Scans', scans_path %>

<% add_to_sidebar do %>
    <div id="scan-sidebar" class="hide">
        <ul class="nav nav-list">
            <li class="nav-header">
                Toggle visibility of
            </li>
            <li id="comments-link-container">
                <a class="toggle-comments" data-toggle="collapse"
                   href="#comments">
                    <i class="icon-comments"></i>

                    <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                          class="label hide total-comments-counter">
                        <%= @scan.comments.size %>
                    </span>

                    <span title="The scan has new comments."
                          class="hide label label-info new-comments-counter">
                    </span>

                    Comments
                </a>
            </li>

            <li id="toggle-statistics" class="hide">
                <a href="#statistics" data-toggle="collapse"
                   title="Toggle statistics visibility" role="button">
                    <i class="icon-list-alt"></i>

                    Statistics
                </a>
            </li>

            <li id="toggle-charts" class="hide">
                <a href="#graphs" onclick="toggleCharts();"
                   title="Toggle chart visibility" role="button">
                    <i class="icon-bar-chart"></i>

                    Charts
                </a>
            </li>
        </ul>

        <% if @scan.root_revision.has_revisions? %>
            <div id="revisions-nav-list">
                <%= render 'revisions_nav_list' %>
            </div>
        <% end %>

        <ul class="nav nav-list">
            <li class="divider"></li>

            <li class="nav-header">
                Actions
            </li>

            <% if User.count > 1 && can?( :share, @scan ) %>
            <li>
                <a href="#shareScan_<%= @scan.id %>" title="Share scan"
                   role="button" data-toggle="modal">
                    <i class="icon-share"></i>

                    <% if (shared_with = @scan.users.size - 1) > 0 %>
                      <span title="Shared with <%= pluralize shared_with, 'more user' %>."
                      class="label"><%= shared_with %></span>
                    <% end %>

                    Share
                </a>
            </li>
            <% end %>

            <% if !@scan.overview? %>
                <li id="download-report" class="hide">
                    <i class="icon-download-alt"></i>
                    Download report as:

                    <%
                       reports_links = reports_with_outfile.map do |shortname, (name, desc)|
                           link_to name, report_scan_path( format: shortname ),
                                   rel: 'tooltip', title:  desc
                       end
                    %>

                    <ul class="nav nav-list">
                        <% reports_links.each do |l| %>
                        <li>
                            <%= l %>
                        </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>

<div id="scans">
    <div class="page-header">
        <% if @scan.owner != current_user %>
            <span class="label label-info pull-right">Started by <%= @scan.owner.name %></span>
        <% end %>

        <% purl = @scan.parsed_url %>
        <h1>
            <%= "#{purl.scheme}://#{purl.host}" %><%= ":#{purl.port}" if purl.port %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small>
        </h1>

        <div id="editable-description">
            <%= render partial: 'editable_description' %>
        </div>
    </div>

    <div class="visible-phone pull-left">
        <%= render partial: 'share_form', locals: { scan: @scan } %>
    </div>

    <div class="visible-phone">
        <a class="toggle-comments btn btn-small" data-toggle="collapse"
           href="#comments">
            <i class="icon-comments"></i>

            <% if @scan.comments.any? %>
                <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                      class="label total-comments-counter"><%= @scan.comments.size %></span>
            <% end %>

            <span title="The scan has new comments."
                  class="hide label label-info new-comments-counter"></span>

            Toggle comments
        </a>

        <hr/>
    </div>

    <div id="comments" class="accordion-body collapse">
        <%= render partial: 'comments' %>
    </div>

    <div id="error-messages-container" <%= 'class="hide"'.html_safe if @scan.error_messages.empty? %> >
        <p class="alert alert-error">
            This scan has the logged the following
            <%= link_to 'errors', errors_scan_url( @scan, format: :txt ) %>
            (you may want to
            <a href="https://github.com/Arachni/arachni-ui-web/issues">report them</a>):
        </p>

        <pre id="error-messages"></pre>
    </div>

    <div id="scan">
        <%= render @scan.active? ? 'show_active' : 'show_inactive' %>
    </div>

    <div class="row-fluid">
        <div class="span12" id='issues'>
            <%= render partial: 'issues/table.html', locals: { url_method_type: :scan_url } %>
        </div>
    </div>

</div>

<div id="updater"
     data-refresh-url="<%= scan_url( @scan, params.merge( format: :js ) ) %>"
     data-refresh-rate="<%= Settings.scan_refresh_rate %>"
     data-refresh-type="js">
</div>
