<% title "Scanning #{@scan.parsed_url}" %>

<script type="text/javascript">
    var stopUpdating = false
</script>

<div id='scans'>
    <% purl = @scan.parsed_url %>
    <h1><%= "#{purl.scheme}://#{purl.host}" %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small></h1>

    <hr />

    <% if @scan.owner == current_user %>
        <%=  render 'share_form' %>
        <hr/>
    <% end %>

    <div id='scan'>
        <%= render @scan %>
    </div>

    <%= link_to 'Back', scans_path %>
</div>

<script type="text/javascript">
    setInterval( function(){
        if( stopUpdating )
            return

        $.get( '<%= scan_url( @scan, format: :js ) %>', function( data ){
                    $('#scan').html( data );
                    window.restoreAccordion();
                },
                "html" )
    }, 5000 );
</script>
