<% title @scan.url %>
<% breadcrumb_add 'Scans', scans_path %>

<% add_to_sidebar do %>
    <ul class="nav nav-list hide" id="scan-sidebar">
        <li class="nav-header">
            Toggle visibility of
        </li>
        <li>
            <a class="toggle-comments-button" data-toggle="collapse"
               href="#scan<%= @scan.id %>-comments-list">
                <i class="icon-comment"></i>

                <% if @scan.comments.any? %>
                <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                      id="total-comments-counter" class="label"><%= @scan.comments.size %></span>
                <% end %>

                <span id="new-comments-counter"
                      title="The scan has new comments."
                      class="hide label label-info"></span>

                Comments
            </a>
        </li>

        <li id="toggle-statistics" class="hide">
            <a href="#statistics" data-toggle="collapse"
               title="Toggle statistics visibility" role="button">
                <i class="icon-list-alt"></i>

                Statistics
            </a>
        </li>

        <li id="toggle-charts" class="hide">
            <a href="#graphs" onclick="toggleCharts();"
               title="Toggle chart visibility" role="button">
                <i class="icon-signal"></i>

                Charts
            </a>
        </li>

        <li class="divider"></li>

        <li class="nav-header">
            Actions
        </li>
        <li>
            <a href="#add-scan-comment" title="Comment on scan"
               role="button" data-toggle="modal">
                <i class="icon-comment"></i>
                Add comment
            </a>
        </li>

        <% if User.count > 1 && can?( :share, @scan ) %>
        <li>
            <a href="#shareScan_<%= @scan.id %>" title="Share scan"
               role="button" data-toggle="modal">
                <i class="icon-share"></i>

                <% if (shared_with = @scan.users.size - 1) > 0 %>
                  <span title="Shared with <%= pluralize shared_with, 'more user' %>."
                  class="label"><%= shared_with %></span>
                <% end %>

                Share
            </a>
        </li>
        <% end %>

        <li id="download-report" class="hide">
            <i class="icon-download-alt"></i>
            Download report as:

            <% reports_links = reports_with_outfile.map { |shortname, n| link_to n, report_scan_path( format: shortname) } %>

            <ul>
                <% reports_links.each do |l| %>
                <li>
                    <%= l %>
                </li>
                <% end %>
            </ul>
        </li>
    </ul>
<% end %>

<script type="text/javascript">
    var stopUpdatingScan = false;
</script>

<div id="scans">

    <div class="page-header">
        <% if @scan.owner != current_user %>
            <span class="label label-info pull-right">Started by <%= @scan.owner.name %></span>
        <% end %>

        <% purl = @scan.parsed_url %>
        <h1><%= "#{purl.scheme}://#{purl.host}" %><small><%= "#{purl.path}#{!purl.query.to_s.empty? ? "?#{purl.query}" : nil}" %></small></h1>

        <% if !@scan.description.to_s.empty? %>
        <div class="lead"><%= m @scan.description %></div>
        <% end %>
    </div>

    <div class="hidden-desktop pull-left">
        <%= render partial: 'share_form', locals: { scan: @scan } %>
    </div>

    <div class="hidden-desktop">
        <a class="toggle-comments btn" data-toggle="collapse"
           href="#scan<%= @scan.id %>-comments-list">
            <i class="icon-comment"></i>

            <% if @scan.comments.any? %>
                <span title="The scan has <%= pluralize @scan.comments.size, 'comment' %>."
                      id="total-comments-counter" class="label"><%= @scan.comments.size %></span>
            <% end %>

            <span id="new-comments-counter" title="The scan has new comments."
                  class="hide label label-info"></span>

            Toggle comments
        </a>
    </div>

    <%= render partial: 'comment_form', locals: { scan: @scan } %>

    <div id="scan">
        <%= render @scan %>
    </div>
</div>

<script type="text/javascript">

    initialCommentCount = $('#scan #comments #comment').size();
    setInterval( function(){
        if( !stopUpdatingScan ) {
            url = '<%= partial_scan_url( @scan ) %>';
            elementToBeUpdated = $( '#scan' );
        } else {
            url = '<%= comments_scan_url( @scan ) %>';
            elementToBeUpdated = $( '#scan #comments' );
        }

        $.get( url, function( data ){
                    wasOpen = $('#comments-list').hasClass( 'in' );
                    elementToBeUpdated.html( data );
                    newCommentsCount = $('#scan #comments #comment').size() - initialCommentCount;

                    if( newCommentsCount >0 && !wasOpen ){
                        $('#new-comments-counter' ).html( '+' + newCommentsCount );
                        $('#new-comments-counter').show();
                    }

                    updatePage();
                },
                'html' )
    }, <%= Settings.scan_refresh_rate %> );
</script>
