<% if @notifications.any? %>

    <% if @notifications.unread.any? %>
        <p>
            <%= link_to mark_read_notifications_url, class: 'btn btn-inverse',
                        method: :put do %>
                <i class="icon-ok"></i>
                Mark all read
            <% end %>
        </p>
    <% end %>

    <%= my_paginate @notifications, param_name: 'notifications_page', remote: true,
                    params: { render: 'notifications' } %>

    <ul class="notifications unstyled">

        <% @notifications.each do |notification| %>
            <li class="notification <%= notification.unread? ? 'alert alert-info' : '' %>" >
                <%= link_to polymorphic_path( notification.model.family ) do %>
                    <%=  notification.model_type %>

                    <% if !notification.text.to_s.include?( "\n" ) %>
                        <em><%= notification.text.html_safe %></em>
                    <% end %>

                <% end %>

                <%= notification.past_tense_action %>

                by <%= notification.actor %>

                <small class="muted">-- <%= l notification.created_at %></small>

                <% if notification.text.to_s.include?( "\n" ) %>
                    <blockquote class="muted">
                        <%= notification.text.html_safe %>
                    </blockquote>
                <% end %>
            </li>
        <% end %>

    </ul>
<% else %>
    <p class="alert alert-info">
        No notifications are available.
    </p>
<% end %>
