<% is_selected = selected.include?( shortname ) %>

<p class="module">
    <input id="setting_module_<%= shortname %>" name="setting[profile_allowed_modules][]"
       <%= 'checked' if is_selected %> type="checkbox" value="<%= shortname %>">

    <label for="setting_module_<%= shortname %>">

        <%= '<strong>'.html_safe if is_selected %>
        <%= info[:name] %> <em>(<%= shortname %>)</em>
        <%= '</strong>'.html_safe if is_selected %>
    </label>
</p>
