<%= simple_form_for( @scan_group, remote: true ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :name, label: false, placeholder: '(Required) Name' %>
        <%= f.input :description, label: false, placeholder: '(Required) Description' %>

        <% if User.count > 1 %>

            <%=
                if @scan_group.id
                    exclude = [@scan_group.owner]
                else
                    exclude = [current_user]
                end
                f.association :users, label: 'Share with:',
                              collection: User.all - exclude
            %>
        <% end %>
    </div>

    <button type="submit" class="btn btn-small btn-inverse">
        <% if @scan_group.id %>
            Update group
        <% else %>
            <i class="icon-plus"></i>
            New group
        <% end %>
    </button>

    <input type="hidden" id="selected_group_id" name="selected_group_id"
           value="<%= @group.try( :id ) %>"/>

    <% if @scan_group.errors.any? || @scan_group.id %>
        <%= link_to new_scan_group_path( selected_group_id: @group.try( :id ) ),
                    class: 'btn btn-small', remote: true, onclick: 'loading();' do %>
            Cancel
        <% end %>
    <% end %>
<% end %>
