<%
   if local_assigns[:path_method].is_a? Symbol
       path_method = method( local_assigns[:path_method] )
   elsif local_assigns[:path_method].nil?
       path_method = method( :scans_path )
   end
%>

<% if @group %>
    <p>
        You are seeing scans of the <strong><%= @group.name %></strong> group:
    </p>

    <blockquote>
        <%= m @group.description %>

        <% if @group.owner != current_user %>
            <small><%= @group.owner %></small>
        <% end %>
    </blockquote>

    <p>
        Members:
        <%= @group.users.map { |u| link_to u, user_path( u ) }.join( ', ' ).html_safe %>
    </p>
    <hr/>

    <p>
        <%= link_to path_method.call( group_id: false ), onclick: 'loading();',
                    class: 'btn btn-small btn-info btn-clear', remote: true do %>
            Clear filter
        <% end %>
    </p>
<% end %>

<ul class="nav nav-tabs" id="scan-group-tabs"
    data-table-container="table-container">

    <% if @scan_groups['yours'].size == 0 %>
        <li class="disabled">
            <a href="#" onclick="return false;" title="Yours">
                <i class="icon-user"></i>
                [<%= @scan_groups['yours'].size %>]
            </a>
        </li>
    <% else %>
        <li class="active">
            <a href="#scan-groups-yours" data-toggle="tab" title="Yours">
                <i class="icon-user"></i>
                [<%= @scan_groups['yours'].size %>]
            </a>
        </li>
    <% end %>


    <% if @scan_groups['shared'].size == 0 %>
        <li class="disabled">
            <a href="#" onclick="return false;" title="Shared">
                <i class="icon-share-alt"></i>
                [<%= @scan_groups['shared'].size %>]
            </a>
        </li>
    <% else %>
        <li>
            <a href="#scan-groups-shared" data-toggle="tab"  title="Shared">
                <i class="icon-share-alt"></i>
                [<%= @scan_groups['shared'].size %>]
            </a>
        </li>
    <% end %>

    <% if current_user.admin? %>
        <% if @scan_groups['others'].size == 0 %>
            <li class="disabled">
                <a href="#" onclick="return false;" title="Others'">
                    <i class="icon-group"></i>
                    [<%= @scan_groups['others'].size %>]
                </a>
            </li>
        <% else %>
            <li>
                <a href="#scan-groups-others" data-toggle="tab"  title="Others'">
                    <i class="icon-group"></i>
                    [<%= @scan_groups['others'].size %>]
                </a>
            </li>
        <% end %>
    <% end %>
</ul>

<div class="tab-content">
    <div id="scan-groups-yours" class="tab-pane active in">
        <% if @scan_groups['yours'].any? %>
            <p class="muted">Your groups.</p>

            <%= render partial: 'scan_groups/list',
                       locals: { path_method: path_method, groups: @scan_groups['yours'] } %>
        <% else %>
            <p class="alert alert-info">
                You haven't created any groups.
            </p>
        <% end %>
    </div>

    <div id="scan-groups-shared" class="tab-pane">
        <p class="muted">Groups others have shared with you.</p>

        <%= render partial: 'scan_groups/list',
                   locals: { path_method: path_method, groups: @scan_groups['shared'], show_owner: true } %>
    </div>

    <% if current_user.admin? %>
        <div id="scan-groups-others" class="tab-pane">
            <p class="muted">Everyone else's groups.</p>

            <%= render partial: 'scan_groups/list',
                       locals: { path_method: path_method, groups: @scan_groups['others'], show_owner: true } %>
        </div>
    <% end %>
</div>

<script type="text/javascript">
    // The tabs will be restored when the document is ready anyways but the
    // slight delay makes it look bad.
    updatePage();
</script>
