<%= link_to "Arachni v#{Arachni::VERSION}  - Webui v#{ArachniWebui::Application::VERSION}", root_path, class: 'brand' %>

<% if user_signed_in? %>
<ul class="nav">
    <li <%= mark_if_active( 'home' ) %>><%= link_to 'Home', root_path %></li>
    <li <%= mark_if_active( 'scans' ) %>>
        <%= link_to scans_path do %>
            Scans
            <% if (active_scan_count = Scan.light.active.count) > 0 %>
            <span class="label"><%= active_scan_count %></span>
            <% end %>
        <% end %>
    </li>
    <li <%= mark_if_active( 'profiles' ) %>><%= link_to 'Profiles', profiles_path %></li>
    <li <%= mark_if_active( 'dispatchers' ) %>><%= link_to 'Dispatchers', dispatchers_path %></li>
</ul>
<% end %>

<ul class="nav pull-right">
    <% if user_signed_in? %>
    <li>
        <div class="btn-group">
            <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> <%= current_user.name %></a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                  <%= link_to edit_user_registration_path do %>
                      <i class="icon-pencil"></i> Edit account
                  <% end %>
                </li>
                <% if current_user.has_role? :admin %>
                  <li>
                    <%= link_to users_path do %>
                        <i class="icon-cog"></i> Admin
                    <% end %>
                  </li>
                <% end %>
                <li class="divider"></li>
                <li>
                <%= link_to destroy_user_session_path, method: 'delete' do %>
                    <i class="icon-off"></i> Sign out
                <% end %>
              </li>
            </ul>
        </div>
    </li>
    <% else %>
    <li>
        <%= link_to 'Sign in', new_user_session_path %>
    </li>
    <% end %>

</ul>
