<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= "#{yield( :title )} - " if content_for?( :title ) %>
            <%= "#{title_breadcrumbs} - " if !title_breadcrumbs.empty? %>
            Arachni
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="/assets/favicon.png" />

        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= yield( :head ) %>
    </head>
    <body id="top" data-target=".spy" data-spy="scroll">
        <div id="loading" class="hide modal progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>

        <header class="navbar navbar-inverse navbar-fixed-top">
            <nav class="navbar-inner">
                <div id="navigation-top" class="container"
                     <% if current_user %>
                     data-refresh-url="<%= navigation_path %>"
                     <%end%>
                     >

                    <%= render 'layouts/navigation' %>
                </div>
            </nav>

            <%= render_breadcrumbs %>
        </header>

        <div id="main" role="main">
            <div class="container-fluid">
                <div id="content" class="content">
                    <div class="row-fluid">

                        <% if show_affixed_sidebar? || show_sidebar? %>
                            <div id="left-sidebar" class="span2 sidebar hidden-phone">

                                <% if show_affixed_sidebar? %>
                                    <div id="sidebar-affix" class="hidden-phone affix">

                                        <div class="row-fluid">
                                            <div>
                                                <%= affixed_sidebar.html_safe %>
                                            </div>
                                        </div>

                                        <% if has_subnav? %>
                                            <div class="spy">
                                                <%= render_subnav %>
                                            </div>
                                        <% end %>
                                    </div>
                                <% end %>

                                <% if show_sidebar? %>
                                    <div class="row-fluid hidden-phone">
                                        <div>
                                            <%= sidebar.html_safe %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>

                        <div id="main-content" class="span8">
                            <%= render 'layouts/messages' %>
                            <%= yield.force_encoding( 'utf-8' ) %>
                        </div>
                    </div>
                </div>
            </div> <!--! end of .container -->
        </div> <!--! end of #main -->

        <% if Rails.env.development? %>
        <div id="footnotes_holder"></div>
        <% end %>

        <footer>
            <div class="row-fluid">
                <div class="span2 hidden-phone"></div>
                <div class="span3 hidden-phone">
                    <h4>Help</h4>
                    <ul class='unstyled'>
                        <li><a target="_blank" href="https://github.com/Arachni/arachni-ui-web/wiki">Documentation</a></li>
                        <li><a target="_blank" href="http://support.arachni-scanner.com">Support portal</a></li>
                        <li><a target="_blank" href="https://github.com/Arachni/arachni-ui-web/issues">Reporting bugs</a></li>
                    </ul>
                </div>
                <div class="span4 hidden-phone">
                    <h4>Interesting links</h4>
                    <ul class='unstyled'>
                        <li><a target="_blank" href="http://www.arachni-scanner.com">Homepage</a></li>
                        <li><a target="_blank" href="http://www.arachni-scanner.com/blog">Blog</a></li>
                        <li><a target="_blank" href="http://twitter.com/ArachniScanner">Twitter feed</a></li>
                    </ul>
                </div>
                <div class="span2">
                    <p>
                        &copy; 2013-2017 <a href="http://www.sarosys.com/">Sarosys LLC</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
